[2020-10-09 14:44] eddiejaoude opened #1 "Technology ideas"
- Express with Typescript (or using a framework like [Feathers](https://feathersjs.com))
- Cucumber
- Mongo

[2020-10-09 14:45] eddiejaoude opened #2 "Community GitHub Actions"
Similar to https://github.com/EddieJaoudeCommunity/support/tree/main/.github/workflows

[2020-10-09 15:12] bineetNaidu commented on #1
* Electron with React Js.

[2020-10-09 17:47] BOLT04 commented on #1
@bineetNaidu those are good suggestions, but I think this project would more of a back-end API. So I agree with choosing Express + node.js + Typescript + MongoDB 😃

[2020-10-09 18:41] bineetNaidu commented on #1
Yes i agree with you if we are goin with backend  then for sure that i will be goin with Express + node.js + Typescript + MongoDB
as i am familiar with the stack , from the past 2 to 3 months i have build a lots projects based with this stack.

Yes i am really excited and looking forward to contribute and work on to this project.

[2020-10-10 11:38] BOLT04 commented on #1
awesome @bineetNaidu, it's great to hear that 😃

[2020-10-15 23:30] vivek80801 commented on #1
- Gatsby
- nextjs
- ecommarce website with nextjs
-  chat app with login functionality
- MERN stack with typescript

[2020-10-16 12:36] BOLT04 commented on #1
Hi @vivek80801 😃, you have some cool ideas there. However for this project we are looking to build a RESTful API to serve EddieBot and EddieBotUI (and any other project we want actually 😅). Since both of those need to access data in a database, this API would be the data access layer... kinda 😅. At least for now that would be the primary goal.

Perhaps we can start other projects using the options

[2020-10-16 14:50] vivek80801 commented on #1
@BOLT04

Ok.

[2020-10-21 19:42] BOLT04 opened #3 "Setup the project"
There has been some discussion about the technology choices for this project here: #1. So I was thinking we could get the project started and continue from there 😃.

The goal of this issue would be to bootstrap the project and get most stuff setup. So here are the tasks I purpose we complete:
- [ ] Setup a linter (e.g. ESLint)
- [ ] Setup Node.js w/TypeScript and Express
- [ ] Setup cucumber
- [ ]

[2020-10-21 22:57] eddiejaoude commented on #3
Thanks @BOLT04 . This would be good. 👍

[2020-11-01 05:23] sayand0122 commented on #3
I read the issues of this project and i really feel its interesting so can someone give me ome insights on the things going on or completed?

[2020-11-01 10:54] eddiejaoude commented on #3
There are 2 PRs already open for this:

- #4 setting up the project from scratch
- #5 a spike to see if `feathersjs` is a possible option

Both are still waiting for feedback from the community 🤓

[2020-11-12 22:26] BOLT04 opened #6 "Documentation: Add Swagger to the API"
To document our API, using Swagger and the OpenAPI specification will benefit us since it's a known standard in the industry. I don't think we'll have a hypermedia API, so there is no need to worry about documenting the URLs.

We can have a look at this: https://github.com/feathersjs-ecosystem/feathers-swagger.

Let me know what other suggestions you have for documentation and what you think 😃

[2020-11-13 10:07] eddiejaoude commented on #6
Good idea 👍 - this should be added to the open PR, so that we have a PR that contains our minimum standards.

[2020-12-12 21:12] mstanciu552 opened #7 "Documentation for setting up MongoDB"
We should add some documentation for setting up mongo for running this locally, related to the project, of course.
We should also add a link to the [MongoDB](https://www.mongodb.com/) official page for more instructions.

Share your opinion about this.

[2020-12-12 21:38] mstanciu552 opened #9 "Add github actions"
We should add github actions here.
It could be similar to [EddieBot](https://github.com/EddieJaoudeCommunity/EddieBot).
I would like to do this but it would be my first time and I have to learn it first and practice on one of my repos.

If you wouldn't mind I could do it in 2 or 3 days.

[2020-12-12 21:45] mstanciu552 commented on #6
I will look into it tomorrow and start implementing.

[2020-12-13 12:51] Vyvy-vi commented on #9
This is needed. 👍
However, I think there is already an issue open for this(issue #2)
Perhaps you could send this message on that issue so that you could get assigned?

(IMHO duplicate issues cause difficulties for maintainers)

**Additional Context**:
All the repositories are supposed to use the same actions.
You could look at examples at: https://github.com/EddieJaoudeCommunity/support/tree/main/

[2020-12-13 12:57] Vyvy-vi commented on #6
@mstanciu552 I think this is currently being addressed in the open PR: #5
Perhaps, you could open a PR directly to the `featherjs` branch after task 7th on the list is completed?

[2020-12-13 13:01] Vyvy-vi commented on #7
I think Mongo hasn't been implemented _yet_.
However, once it's implemented, having docs for how to set mongo for a local instance, would be great 👍

Additional Context: Setting up mongo DB is a due task, referenced in issue #3

[2020-12-13 13:17] mstanciu552 commented on #9
oh yeah just noticed.

I will move it there

[2020-12-13 13:17] #9 closed

[2020-12-21 07:43] eddiejaoude commented on #6
@Vyvy-vi 👍

@mstanciu552 how did you get on?

[2020-12-23 18:52] mstanciu552 commented on #7
Well MongoDB was set up but only for Eddie's `featherjs` branch.

I also have a question. Why is the featherjs branch not in the main branch?

Are we still choosing a stack or waiting for someone to set up a normal `express` project?

[2020-12-23 21:45] BOLT04 commented on #7
@mstanciu552 we haven't merged since we were trying to complete most checkboxes on the PR (currently missing only swagger docs). But the stack is Feather.js 😃 with TypeScript

[2020-12-23 21:49] mstanciu552 commented on #7
I just looked into it and I think it's not that time consuming to set up swagger so I will get started on testing it tomorrow.
👍

[2020-12-23 21:53] mstanciu552 commented on #6
Sorry it might be the late hour I'm reading this at, but do you mean how did it get on to open a PR for the `featherjs` branch or how did it go with the swagger documentation? 😋

[2020-12-28 10:20] eddiejaoude commented on #7
Also, I would like to add to that branch Docker + Docker Compose, so people do not need to worry about setting up the DB and it should "just work" - famous last words 😂

[2020-12-28 10:32] eddiejaoude commented on #6
No worries @mstanciu552 . I am still catching up on GitHub notifications.

I was asking about your previous comment, but no stress / rush

[2020-12-28 10:44] mstanciu552 commented on #6
Oh ok. I looked into swagger and it seems like a grea resource, but I didn't find the time to implement it in order to test it.

[2021-01-04 10:15] eddiejaoude commented on #6
No problem 🤓

[2021-01-20 10:41] eddiejaoude opened #11 "Standup endpoint"
It would be great to encourage more daily standup information.

- Save (from bot or UI) daily standup information
- Read daily standup information in daily order desc

---

Update after discussion with @mstanciu552 below

[2021-01-20 10:49] mstanciu552 commented on #11
I have a question that would help with this. Specifically with the information from the _discord bot_.

How would we get the standup from it? Is it something from discord.js or do we need to use the Discord API?

[2021-01-20 11:03] eddiejaoude commented on #11
We have a command `^standup <yesterday> || <today>` it is nothing technically special, it just rewrites the message as a notifications

[2021-01-20 11:07] mstanciu552 commented on #11
Oh I see so we could just send the information from EddieBot to the API using `axios` or `fetch` and then save them in a users collection in our db.

Is thus the kind of system you are talking about?

[2021-01-20 11:15] eddiejaoude commented on #11
yes that is correct - sorry if I explained it badly, thank you for challenging 👍 - I will update the description

[2021-01-20 11:20] mstanciu552 commented on #11
Thanks for helping me to understand. :smile:

[2021-01-20 11:23] Vyvy-vi commented on #11
I think, perhaps we could simplify this and avoid using discord API?
We could have the bot store this on Mongo and then the site could render the content from there?

[2021-01-20 11:26] eddiejaoude commented on #11
Yep 👍 the bot will send the data to our API which will store the data in the db

[2021-01-20 15:35] mstanciu552 commented on #11
This is a suggestion. If you think of anything better please let us know.

We could have a variable in the `.env` file that points to the URL of the API. Then using `axios`(or `fetch`) we make a request.

Then in the API we modify the `User` model to also have a standup array.

Please share your suggestions.  😄 👍

[2021-01-20 23:20] eddiejaoude commented on #11
Yep the API url in the Bot and UI will be part of the config, as this will change depending if we are developing locally or in production etc.

Yep, the `User` model will have a standup array 👍

[2021-01-21 07:57] mstanciu552 commented on #11
This question might be a bit redundand.

Does the `^standup` command also send the user that called it?

[2021-01-21 08:04] Vyvy-vi commented on #11
It only sends the message in the channel it is called in

[2021-01-21 08:10] mstanciu552 commented on #11
Oh .... Do you also know if there is any way to get the sender through discord.js?

Something like `message.from`?

[2021-01-21 08:16] Vyvy-vi commented on #11
`message.author` should return the member object for the sender of the message

[2021-01-21 10:48] mstanciu552 commented on #11
Alright so I tested how to get the user.
![Screenshot (89)](https://user-images.githubusercontent.com/34579048/105340553-b7d92880-5be6-11eb-9426-aae3823794de.png)
This will make an object with the id, username and discriminator(the `#` followed by 4 digits near the username).
We could create Users in the db based on this information, to which we add their standup array.(this could also have a date

[2021-01-26 11:30] eddiejaoude opened #12 "NestJS"
- [x] Create NestJS `api` project from CLI
- [x] Add GitHub Action for lint, prettier, build
- [x] Use NestJS CLI to create a new CRUD resource called `discord` with the generate command `resource` [docs](https://docs.nestjs.com/cli/usages#nest-generate)
- [x] Automated testing end-to-end with what NestJS recommend ~~(remove unit testing)~~
- [x] Wrap automated testing in Cucumber
- [x] GitHub Act

[2021-01-27 10:04] khattakdev opened #13 "Create NestJS api project from CLI"
This issue is a subtask of https://github.com/EddieJaoudeCommunity/api/issues/12

The job is to create a basic `api` boilerplate using NestJS CLI

[2021-01-27 12:49] #13 closed

[2021-01-27 15:08] khattakdev opened #15 "Add GitHub Action for lint, prettier, build"
This issue is a subtask of #12

[2021-01-27 15:23] khattakdev commented on #12
@eddiejaoude Do we need Prettier as well in GitHub actions? We can make it run and format the files before every user commits and just add linting and build Action. What do you think?

Also, if we have prettier in GitHub Action, we will have to do one additional commit via GitHub Action right? When it format the files?

[2021-01-27 16:00] eddiejaoude commented on #12
@khattakdev I would rather the Action does not change any files 👍 so leave Prettier off the Action.

We could always add something like Husky later to run things locally before people commit.

[2021-01-27 20:06] #15 closed

[2021-01-27 21:15] eddiejaoude commented on #15
I also added the trigger event for `push`

[2021-01-28 05:57] khattakdev commented on #15
Do we need it for `push`? We are concern about the `main` branch only, so we care about the code that is in that branch (only).

[2021-01-28 07:36] eddiejaoude commented on #15
When pushing to our feature branches, it can be good to know if something is broken before a PR is raised.

I will make `main` a protect branch.

[2021-01-28 16:48] khattakdev opened #20 "Create a new CRUD resource called discord"
Use NestJS CLI to create a new CRUD resource called `discord` with the generate command `resource` [docs](https://docs.nestjs.com/cli/usages#nest-generate)

This is a subtask (https://github.com/EddieJaoudeCommunity/api/issues/12)

[2021-01-28 20:01] khattakdev opened #21 "Create CRUD for member without DB"
This is a subtask (https://github.com/EddieJaoudeCommunity/api/issues/12)
[code]

[2021-01-28 21:06] #20 closed

[2021-01-29 19:16] #21 closed

[2021-01-31 12:42] eddiejaoude commented on #11
Nice 👍 , yes we will need to send the user with the standup message - so we can save the standup message against the user

Currently the Discord user API is being created, so we can move things to the API

[2021-02-03 18:49] khattakdev opened #25 "Automated Testing"
Automated testing end-to-end with what NestJS recommend (remove unit testing)

Subtask of https://github.com/EddieHubCommunity/api/issues/12

[2021-02-12 22:19] BOLT04 commented on #12
I agree having automated e2e tests is beneficial, but I'd like to know the reason behind removing unit tests in favor or e2e?
Can't we have both 😃?

[2021-02-12 23:06] andrew-cunliffe commented on #12
Ahhh e2e vs unit testing, I have a video coming up about this subject, there is a place for both for sure but there are several considerations to be had

[2021-02-13 11:07] eddiejaoude commented on #12
Yes ideally we should (and can) have both 👍 . Unit testing definitely has the benefit of being able to test boundary conditions within the depths of the code. But I often seen when unit tests pass, but the product still does not work.

A good example is https://twitter.com/ThePracticalDev/status/687672086152753152

I think for now we should prioritise e2e tests, as the API is blocking a lot of oth

[2021-02-13 11:17] eddiejaoude commented on #12
I think for the e2e testing on the API, we should use

- chai
- supertest
- cucumber
-

[2021-03-05 13:07] khattakdev opened #28 "Update Discord Resource"
Make some changes in the `discord` resource.

* Update the interface with following keys
[code]

[2021-03-05 14:31] eddiejaoude opened #29 "Husky pre commit check"
Make sure to use v5

- Lint commit messages with conventional commits http://conventionalcommits.org
- Lint code check

https://www.npmjs.com/package/husky

[2021-03-05 15:19] eddiejaoude opened #30 "Dockerise project"

[2021-03-05 21:20] #25 closed

[2021-03-06 11:28] #30 closed

[2021-03-06 12:06] bagladivyang03 commented on #29
@eddiejaoude I would like to contribute to this issue, Could u pls tell me what exactly has to be done for this issue.

[2021-03-06 12:11] eddiejaoude commented on #29
@bagladivyang03 great 👍

1. Install husky using "automatic installer" from their docs https://typicode.github.io/husky/#/?id=automatic-recommended
2. Add 2 hooks https://typicode.github.io/husky/#/?id=add-a-hook
   i. run linter
   ii. run tests
   iii.  run commit linter https://github.com/conventional-changelog/commitlint#getting-started

[2021-03-06 12:34] bagladivyang03 commented on #29
@eddiejaoude So basically I have to clone this repo and do all this in that directory?

[2021-03-06 12:36] eddiejaoude commented on #29
You will need to

- fork this repo on GitHub
- clone your fork locally
- create a branch locally

yep, then do the steps above in that directory 👍

[2021-03-06 12:38] bagladivyang03 commented on #29
@eddiejaoude Thanks :)

[2021-03-06 12:59] bagladivyang03 commented on #29
Actually, I have installed husky using "automatic installer" after that I m getting confused about how to do that run linter and run test part i.e adding hooks
Could u pls help @eddiejaoude

[2021-03-06 13:24] bagladivyang03 commented on #29
@eddiejaoude I made a PR could u pls check that for this issue could u pls check :)

[2021-03-12 12:11] #28 closed

[2021-03-15 12:56] khattakdev opened #34 "Add Mongo DB for CRUD with typeorm"
Currently, the data is managed (CRUD) in Memory.
It needs to be replaced with `typeorm` using `MongoDB`

[2021-04-12 16:05] rohank2502 opened #37 "Links broken"
I think links in read me are broken
![Screenshot 2021-04-12 213522](https://user-images.githubusercontent.com/76584243/114425795-0b03bb80-9bd7-11eb-8e97-aab50af33bda.png)

[2021-04-12 16:17] eddiejaoude opened #38 "Discord data collection"
**Discord**
[code]

[2021-04-12 16:19] rohank2502 opened #39 "Create labels !"
https://github.com/eddiejaoude/stargate/blob/main/.github/workflows/labels.yml

Copy the content and create it with the same path

[2021-04-12 16:20] Prathamesh-Shanbhag opened #40 "Create an Issue Template."

[2021-04-12 16:26] Cahllagerfeld opened #41 "Use Validatonpipe for DTOs"
Nest provides the opportunity to use [Validationpipe](https://docs.nestjs.com/techniques/validation) using `class-validator` and `class-transformer`.
Maybe we should think about using this pipe fot Data-Transfer-Objects.
Feel free to discuss on this topic.

[2021-04-12 16:33] eddiejaoude opened #44 "GitHub data collection"
**GitHub**

[code]

Also playing with https://github.com/EddieHubCommunity/api/issues/61

[2021-04-12 18:10] #37 closed

[2021-04-12 19:12] Cahllagerfeld opened #46 "Update Discorduser not working properly"
In discord-service after changing the values in existing Userobject coming from the DTO arent updated in `discord`-Array.
[code]

[2021-04-12 22:16] eddiejaoude opened #48 "Automated tests always passing"
When code is changed, the tests still pass

[2021-04-12 22:19] #6 closed

[2021-04-12 22:47] eddiejaoude commented on #46
Great spot, thank you 👍

[2021-04-12 22:47] #46 closed

[2021-04-12 23:53] #39 closed

[2021-04-12 23:54] eddiejaoude commented on #41
Thank you for the suggestion 👍 , sounds great 🤓

[2021-04-12 23:54] eddiejaoude commented on #1
Going to close this, looks like we are going with NestJS

[2021-04-12 23:54] #1 closed

[2021-04-12 23:55] #2 closed

[2021-04-12 23:55] eddiejaoude commented on #3
We have broken this down into more specific issues, so I will close this.

[2021-04-12 23:55] #3 closed

[2021-04-12 23:56] eddiejaoude commented on #7
I will close this, as it will be a `compose up` for the DB which ever one we decide on

[2021-04-12 23:56] #7 closed

[2021-04-12 23:59] eddiejaoude opened #50 "Deploy to EddieHub Kubernetes cluster using GitHub Actions"
Example in http://github.com/eddiejaoude/stargate

[2021-04-13 00:00] eddiejaoude commented on #12
I will close this as we have more specific issues for remaining tasks

[2021-04-13 00:00] #12 closed

[2021-04-13 07:04] Cahllagerfeld opened #51 "Authentication-Service"
Does this Api need to be protected by JWT using `passport` for example?

[2021-04-13 07:42] Cahllagerfeld commented on #44
Is this Issue meant as a Github-Integration within the Nest-App?

[2021-04-13 09:25] rohank2502 commented on #40
@Prathamesh-Shanbhag  Please add a description of your work!

[2021-04-13 09:30] rohank2502 opened #52 "Add Line `MADE with love by eddiehubbers` in read me"
![Screenshot 2021-04-13 145933](https://user-images.githubusercontent.com/76584243/114530853-f4a64000-9c68-11eb-8c3f-baf44a609fcb.png)

[2021-04-13 12:28] Cahllagerfeld commented on #11
I could potentially do this.
- I think we handle this like the `discord`-Service where data is stored in an Array until we have a database I'd suggest.
- Do we need a Put-Endpoint for Editing Standups?

[2021-04-13 13:55] Cahllagerfeld opened #55 "REST-API-Design-Guideline"
We could think about using a Rest-Api-Design-Guideline like [this](https://github.com/NationalBankBelgium/REST-API-Design-Guide/wiki) for designing out endpoints consistently

[2021-04-13 23:04] #52 closed

[2021-04-13 23:05] eddiejaoude commented on #11
Thanks @Cahllagerfeld 👍 . Good question, I do not think we need a `PUT` endpoint

[2021-04-14 05:41] Cahllagerfeld opened #56 "Check for Exception not working as expected"
When removing a Discorduser the Check for Not-Found-Exception isnt working as intended

[code]

[2021-04-14 15:40] Cahllagerfeld opened #58 "Idea: Calendar Module"
In case of having a "Community Calendar" we could integrate this to the Api, to access Data from that Calendar in other projects as well.
Before realizing that we should definitly specify some more Details - Feel free to Add Ideas in the Comments!

[2021-04-15 06:54] Cahllagerfeld commented on #34
Is it preffered to use Mongo in combination with [Nestjs/Mongoose](https://docs.nestjs.com/techniques/mongodb) or with [typeorm](https://docs.nestjs.com/techniques/database), which also provides an mongo-interface?

[2021-04-15 09:56] #48 closed

[2021-04-15 11:31] eddiejaoude commented on #34
At the moment, we are deciding between Mongo and DataStax - we have a couple of PRs in draft to *spike* the differences

[2021-04-15 11:41] Cahllagerfeld commented on #34
Okay this seems legit. Then waiting until we have more clarity on which DB to use is probably the best.

[2021-04-15 19:52] Cahllagerfeld opened #59 "Unittesting"
The Unittests which are currently available are the predefined ones. Should we invest time in Unittests in addition to e2e-tests?

[2021-04-16 11:25] Cahllagerfeld opened #60 "Centralized Logging"
When growing the Application we might need some Monitoring about Performance, Failures or Errors. We could potentially implement centralized logging to Azure App Insights or Sentry.
If we do so, we could also implement this to the different Frontends like EddieBot or a Website

[2021-04-16 11:27] eddiejaoude commented on #60
Great idea. We will be deploying to a Digital Ocean Kubenertes cluster, I wonder if they offer something or if we can add a plugin the the cluster

[2021-04-16 11:47] Cahllagerfeld commented on #60
Sounds good!

[2021-04-16 12:30] eddiejaoude commented on #44
Oh sorry just seeing this notification now. We have a GitHub Action that will send stats from our community Org Repos to our API

[2021-04-16 13:31] Cahllagerfeld commented on #44
Thats nice! Luckily we dont have to handle different Accesstokens for different users then.

[2021-04-17 07:23] #56 closed

[2021-04-17 07:48] eddiejaoude opened #61 "Run DataStax locally with Docker Compose"

[2021-04-17 08:16] eddiejaoude commented on #11
PR merged

[2021-04-17 08:16] #11 closed

[2021-04-17 08:21] Cahllagerfeld commented on #44
I'll start working on this. You can assign this Issue to me if you want.

[2021-04-17 08:23] eddiejaoude commented on #44
Great, thanks 👍 . Sure assigned 🎉

[2021-04-17 14:04] Cahllagerfeld commented on #44
Hi Eddie, could you please specify which of the properties are mandatory, and which of them are optional?
Thank you! :D

[2021-04-17 19:02] Cahllagerfeld commented on #38
I think except the location we're having this module already implemented.
Are we going to need a Geocoding Service to turn real places into coordinates or can we expect the Client to send them?

[2021-04-17 19:54] eddiejaoude commented on #38
Great question, we need to get the lat/lng, here is an example where we have done this before, but it will need moving to this project and module https://github.com/EddieHubCommunity/EddieBot/blob/ed49a8a3dd55d23b0e1d92bd09f2ea4f673993d8/src/commandHandlers/bio.ts#L128-L132

[2021-04-17 20:01] Cahllagerfeld commented on #38
Okay I see this logic.
I suggest using the [nest-http-module](https://docs.nestjs.com/techniques/http-module). It is axios-based and uses observables out-of-the-box-

[2021-04-17 20:01] eddiejaoude commented on #44
Thanks for the questions @Cahllagerfeld , here are my thoughts...

I think the `username` is the only required property

Ideally we should specify these, and do a check that it is in our allowed list. The list will come from GitHub events, here is the [example usage](https://github.com/EddieHubCommunity/gh-action-community/blob/develop/src/statistics/index.js#L16) for where the data will come from

[2021-04-17 20:02] eddiejaoude commented on #38
Sounds like a good idea 👍 , I like to keep things vanilla and go on the official recommended of the framework

[2021-04-17 20:03] Cahllagerfeld commented on #44
I'll adjust these things and update the PR then.

[2021-04-17 20:04] eddiejaoude commented on #44
Amazing, thank you 👍 - great questions ❤️

[2021-04-17 20:13] #40 closed

[2021-04-17 21:07] Cahllagerfeld commented on #44
I'm currently coding the TypeValidation for the DTO, but I'm still not getting the community stats completly I think.
Is this an object in which the properties are github-events or am I getting this wrong?

Could you explain it again pls? :sweat:

[2021-04-17 21:43] eddiejaoude commented on #44
Sure, no problem 👍 sorry for not being clear

yes you are correct - each time an event happens, the GitHub Action will send the event name and our API needs to increment it. Thinking about it before with Firebase, the Firestore DB did the increment, but our API will need to do it now

So I think the request from the GitHub Action can be

[code]

Then we should increment the `issues` property by 1.

[2021-04-17 21:57] Cahllagerfeld commented on #44
I think I got it now. My first thought would be, that mapping the value is probably the best idea.
I'll think about it tomorrow if this could be optimizable at some point.

[2021-04-18 08:25] Cahllagerfeld opened #65 "Create project-board for prioritization"

[2021-04-18 08:43] eddiejaoude commented on #65
Good idea 👍

[2021-04-18 08:44] eddiejaoude commented on #65
Done, I will start adding the issues https://github.com/EddieHubCommunity/api/projects/1?add_cards_query=is%3Aopen

[2021-04-18 08:44] #65 closed

[2021-04-18 08:45] eddiejaoude commented on #51
Great question 👍

I think we will protect the API with an app token for written, then for reads have it public

[2021-04-18 08:48] eddiejaoude commented on #59
Yes you are right, we should 👍 . We are using end-to-end tests, but these can not test certain situations 👍

[2021-04-18 08:51] eddiejaoude commented on #58
I think this would be great 👍

The Discord bot could read/write to this to add / list events, and the web ui could list the events on a web page

On the list api end-point, it should only return up and coming events, other the list will get too long

[2021-04-18 08:53] eddiejaoude commented on #55
I really like this 👍 , we can get out of it from the recommendations from NestJS docs, as I like to keep this vanilla to the recommendations of the framework, so that it is easier to onboard new people

[2021-04-18 13:57] Cahllagerfeld commented on #51
I like this idea a lot to make reading public!

[2021-04-18 13:59] eddiejaoude commented on #51
I think then people in the community can make their own apps to consume the data - we will not have a private data

[2021-04-18 14:05] Cahllagerfeld commented on #51
Thats true.
I'm not yet 100% sure which Auth-Flow will fit best for us in this scenario.
We dont have to authenticate users, so its probably m2m-Authentication. That could mean User-Credential-Flow, but im not sure if thats the right one for us.

[2021-04-18 14:35] eddiejaoude commented on #51
Yep `m2m` authentication sounds good, but you are right there are multiple options. I think the simplest would work best here.

Is my token idea too simple...

- Environment variable collection (array) of tokens that are allowed write access
- Requests with a valid token in the header are given write access, otherwise invalid token response is sent back

Not sure if there is a library out there th

[2021-04-18 14:45] Cahllagerfeld commented on #51
These are exactly my thoughts Yikes :D
I think OAuth or even with Identity Provider like KeyCloak or Auth0 is overkill.

[2021-04-18 14:49] eddiejaoude commented on #51
Also these providers are not good for automated testing or offline development - I had too many bad experiences in the past

[2021-04-18 20:33] eddiejaoude opened #66 "Remove location from Discord models"
Location will come from GitHub data, no need for the user to set it via the Discord Bot

[2021-04-18 22:21] #44 closed

[2021-04-19 05:17] Cahllagerfeld commented on #66
I think its best if we do this issue next.
Feel free to assign it to me!

[2021-04-19 09:35] Cahllagerfeld opened #68 "Spike: Use Observables instead of Promises"
When doing asynchronous operations (http-calls, access database) within our code, we should spike if Promises or Observables work better for us.

[2021-04-19 09:50] eddiejaoude commented on #68
Thank you for creating the issue 👍

[2021-04-19 11:14] Cahllagerfeld commented on #66
If we leave the PR for this issue as it is.
What would you prioritize next?

[2021-04-19 13:11] #66 closed

[2021-04-19 13:12] eddiejaoude commented on #66
I think authentication would be good to tackle next, what do you think?

[2021-04-19 13:22] Vyvy-vi commented on #66
Yes, that would be great. I think we can maybe make an auth app for both Discord and Github?

[2021-04-19 15:03] Cahllagerfeld commented on #66
Yes I think an Auth-Module for Discord, and Github-Service as mentioned in #51 would be best.
@Vyvy-vi if you want we can collaborate on this. Eddie and my even had some thoughts about implementing this.

[2021-04-19 15:14] eddiejaoude commented on #66
I think both will be the same with server to server comms?

[2021-04-19 15:17] Cahllagerfeld commented on #66
Yes, I think so. But I suggest using two different tokens for discord bot and github action. Otherwise we may have some bad side-effects - when one token gets hijacked for example. Then 'only' Discord or Github is vulnerable, not both at once

[2021-04-19 15:18] eddiejaoude commented on #66
Yes I agree, each app should have its own token 👍

[2021-04-19 15:22] Vyvy-vi commented on #66
I think leveraging Github's and Discord's Oauth might be better?
Here's a process flow we can consider-
[code]

[2021-04-19 15:25] Vyvy-vi commented on #66
I think this way we don't need to deal with multiple tokens, since the oauth verification just has the user log into the site using both of them and uses the tokens internally(might make our work easier)
Discord Oauth docs- https://discord.com/developers/docs/topics/oauth2

[2021-04-19 15:38] eddiejaoude commented on #66
Good idea, but in this situation I think we need to verify the app not the person.

For example
- Discord bot: will allow everyone to read/write via the bot because they will need a discord account to use the bot, then we just need to verify the bot has write access to the API - so no one can trick it
- GitHub Action: will allow everyone to read/write via the Action because they need a GitHub acco

[2021-04-19 15:45] Vyvy-vi commented on #66
oh, I think we're talking about two different things

[2021-04-19 15:47] Cahllagerfeld commented on #66
I think we should discuss these things in #51 tbh 😅
If we really want to do OAuth, theres the `Client-Credential-Flow` for `m2m`-Communication if I remember corretly

[2021-04-19 17:09] Cahllagerfeld commented on #51
I started implementing AuthGuards for this as nest proposes them for authentication.
I suggest using a Guard for Discord and one for Github.
This way we can better control the accesses from the Apps. Scenarios like Endpoints that only a GithubAction can access or vice versa are easily implementable then.

[2021-04-20 11:50] Cahllagerfeld opened #70 "Bug: Geocoding causes Crash when not providing valid Location"
The API crashes when no real Data is returned from the geocoding-Service.

I suggest adding `try-catch` adding to it.

[2021-04-20 11:53] eddiejaoude commented on #70
Good idea 👍 . Yep if no data is returned I think we can return a `400` error and the requesting app can decide what to do with the  error

[2021-04-20 12:15] Cahllagerfeld commented on #70
Thats a quite small bug. I'll fix this in #69

[2021-04-20 12:30] eddiejaoude commented on #70
Thank you!!

[2021-04-21 07:58] Cahllagerfeld opened #71 "Refactor DTOs to make them consistent"
We should refactor the DTOs, so they have a consistent naming convention.
![grafik](https://user-images.githubusercontent.com/43843195/115518031-0cdd1700-a288-11eb-8097-15af42b8300a.png)

[2021-04-21 10:24] eddiejaoude commented on #71
Oh yes, I really don't like inconsistency. Thank you for raising 👍

[2021-04-21 10:25] Cahllagerfeld commented on #71
I think we should do that after the Auth-Thing is merged

[2021-04-21 10:26] eddiejaoude commented on #71
Yep, makes sense 👍

[2021-04-22 09:17] #51 closed

[2021-04-22 09:17] #70 closed

[2021-04-22 09:27] Cahllagerfeld opened #72 "Idea: Rate Limiting"
Do we need rate-limiting for the api, that we cant get ddosed?
We could set how many requests in a specific interval are served directly, while the additional ones are delayed automatically.

[2021-04-22 09:30] eddiejaoude commented on #72
This would be a good idea, to protect the API 👍

Any suggestions on numbers?

[2021-04-22 09:33] Cahllagerfeld commented on #72
I dont have a real idea how many requests we can or should expect.
Its probably a thing we can implement with any default values and adjust them later as we see the frequency the api is used maybe?

[2021-04-22 09:42] eddiejaoude commented on #72
sounds good 👍

[2021-04-22 09:47] Cahllagerfeld commented on #71
After the huge new Auth-Module I think we should start a short stabilization phase where we do the open refactor(like this one) and bug issues, before implementing new features.
How would you see that?

[2021-04-22 09:50] eddiejaoude commented on #71
Sounds like a good plan 👍

I agree, I think the refactoring is a higher priority than new features - so that it can have a good foundation 💪

[2021-04-22 09:51] Cahllagerfeld commented on #71
Thats true, the foundation gets more and more important as everything grows.
You can assign this ticket to me then.

[2021-04-22 13:26] Cahllagerfeld commented on #41
I'll add the validation to the existing modules which currently dont get validated in #73 as its probably a small fix.

[2021-04-22 16:53] #41 closed

[2021-04-22 16:53] #71 closed

[2021-04-22 17:13] #38 closed

[2021-04-22 17:21] Cahllagerfeld commented on #60
Lets do this next.
I think we should collect some ideas of how we want to Log.
- Do we want to use an external monitoring tool?
- What do we want to log?
- Do we want Log-Files?
- Where do we store Log-Files in case we want them?

[2021-04-22 17:22] Cahllagerfeld commented on #60
I think we should definitly log every Http-Execption `>400`

[2021-04-22 17:44] eddiejaoude commented on #60
It would be great if we could have a `DEBUG=true` mode where we log every request

I think we keep it simple for now, can we log to the console, but with a config change then able to log somewhere else?

[2021-04-22 18:00] Cahllagerfeld commented on #60
Yes, I think thats possible.
I've done sth similar to this this before. We did it with `winston` and checked for environmet variables when creating the different transports.
I think writing a LogginInterceptor is best if we want to log every Request.

[2021-04-22 18:17] Cahllagerfeld commented on #60
Sorry that I was a little exuberant just now, but these were the thoughts we had when implementing logging 😅

[2021-04-22 18:40] eddiejaoude commented on #60
lol no problem 🤓

Should we start with using the vanilla NestJS logger? https://docs.nestjs.com/techniques/logger#using-the-logger-for-application-logging

[2021-04-22 18:51] Cahllagerfeld commented on #60
This is the question I also have :D
I think for now the default Logger is fine.
If we want to expand logging we probably have to use a logger-package then.

[2021-04-22 18:56] eddiejaoude commented on #60
Hopefully if / when we want to expand it will be in a single place to refactor and everything else will continue to work

[2021-04-22 19:08] Cahllagerfeld commented on #60
Which Logformat do we want?
[code]
and do we also want to log the response-status code, that is sent back to the client?

[2021-04-22 19:11] eddiejaoude commented on #60
Good question, I think the response status code would be useful 👍

Format looks good, is there a missing closing bracket?

[code]

What about the request data? Can we log that too or is it too much data?

[2021-04-22 20:06] Cahllagerfeld commented on #60
Oh I probably made a mistake when typing it in here 😅
I had to lay the logic into a middleware otherwise 401 wouldnt be logged, as Guards are called before interceptors.
The logic can be turned off by settings environment variable `DEBUG=false` or leaving `DEBUG` undefined.
![grafik](https://user-images.githubusercontent.com/43843195/115776499-78bc9e00-a3b4-11eb-9340-f8e887dc607a.png)
I just found

[2021-04-22 20:25] eddiejaoude commented on #60
Looks great 👍

[2021-04-23 09:22] #60 closed

[2021-04-23 11:33] Cahllagerfeld commented on #34
Is this still work-in-progress?
Otherwise I could do this spike on the weekend maybe

[2021-04-23 11:39] eddiejaoude commented on #34
This is parked at the moment, because we are thinking of using DataStax as a DB #61 - I have a spike on this, I don't think I pushed it up yet though 🤦‍♂️

[2021-04-23 11:43] Cahllagerfeld commented on #34
Okay, then we'll we will postpone this.
For this weekend we could think about doing a bigger issue though.

[2021-04-23 11:49] eddiejaoude commented on #34
If you have time that would be great 👍 . You are super fast at these 💥

What about #58 , I can add more of my ideas/thoughts around it to that ticket?

[2021-04-23 11:55] Cahllagerfeld commented on #34
Yes, we could do that :D
Feel free to add your ideas 😄

[2021-04-23 12:12] eddiejaoude commented on #58
The calendar data might look like

[code]

Notes:
- future: on the `GET` the list should only bring back current events going on and future events
- history: another idea is to have a parameter on the `GET` to be able to retrieve historic events, but this can come later on in another PR
- delete can only be by the same author (in the future by admin but we have no admin facility for this yet)

[2021-04-23 12:18] Cahllagerfeld commented on #58
Is the `uid` in the `author-object` generated by the api or sent by the client? I'm not 100% clear what uid this is 😅

[2021-04-23 12:42] eddiejaoude commented on #58
In my mind (which could be wrong), I was thinking of the `uid` being the user object from their respect platforms, so in the Discord Bot it would send through their Discord unique identifier and on the GitHub Action it would be their GitHub username - only approved apps can send through the data, so I think we can trust this data?

[2021-04-23 12:53] Cahllagerfeld commented on #58
Oh now I get it :D I thought about using the `uuid`-package for this.
I think you are right, with the Authentication we can trust the provided data.
I think we need to add an `id` for the actual calendar-object as well.
Do we need info about `created` or `updated`?

[2021-04-23 13:23] Cahllagerfeld commented on #58
When doing the date calculations which event is in the past, which one is ongoing and which one is the future, I'd like to use a third-party package for that. I really enjoy using `date-fns` when it comes to this.
Is this okay for you?

[2021-04-23 13:32] Cahllagerfeld opened #75 "Use Helmet"
We should use helmet to improve security for our api.
Its like a default-package when building an api with express.
[Helmet](https://docs.nestjs.com/security/helmet)

[2021-04-23 13:52] eddiejaoude commented on #58
Good point, yes and yes 👍

Good idea 👍

[2021-04-23 14:01] eddiejaoude commented on #75
Good idea 👍

[2021-04-23 15:11] Cahllagerfeld commented on #58
![image](https://user-images.githubusercontent.com/43843195/115891654-9b06f800-a456-11eb-89d1-9a9712f4ddc7.png)
I implemented the response for the `getAll`-Endpoint like shown above:
- The Events are already sorted in future and ongoing, so the client doesnt need to implement this logic.
- When using a database we should define the timeranged before making the request and not filtering like here.

[2021-04-24 17:05] Cahllagerfeld opened #77 "Patch-Endpoints for transferring only deltas"
To just transfer deltas when changing data, we should introduce Patch-Endpoints

[2021-04-25 08:49] eddiejaoude commented on #77
Great 👍

[2021-04-25 09:52] Cahllagerfeld commented on #61
Did you already manage to connect your local Docker-Stargate-Instance to [this](https://www.npmjs.com/package/@astrajs/collections) package?

I feel like documentation is quite poor for this, as there arent even types provided for this package. :(

[2021-04-25 10:17] #58 closed

[2021-04-25 10:17] #75 closed

[2021-04-25 10:18] eddiejaoude opened #78 "Step def functionality for testing"
Discussed here https://github.com/EddieHubCommunity/api/pull/76#discussion_r619777611

I think we need to create another step def similar to this one that would make it easier to read - I can do it in another PR after this one is merged.

[code]
https://github.com/EddieHubCommunity/api/blob/main/test/step-definitions/responses.ts#L31

The new step def would be something like this

[code]

The test

[2021-04-25 11:31] eddiejaoude opened #79 "Discord events to be saved to Discord Module"
Save event totals in existing Discord user document, but would also be good to store the event with the date in another collection (could have a ttl)

[2021-04-25 11:32] iason9 opened #80 "GitHub events log with dates"
Event totals are already saved, but would also be good to store the event with the date in another collection (could have a ttl)

[2021-04-25 11:35] eddiejaoude commented on #61
Yes I finally managed connect to it locally as well as remotely with config, but it was difficult to figure out. Here is my latest commit on it in a branch https://github.com/EddieHubCommunity/api/commit/0b9c7b1d1748088214894af86b652ed999a17fab

[2021-04-25 15:31] eddiejaoude opened #82 "Document the testing and step defs with simple examples"
Document how to write the automated tests and the different styles, here is an example

[code]

[2021-04-25 16:20] #78 closed

[2021-04-27 11:03] Cahllagerfeld opened #83 "Save Score from Community Game"

[2021-04-28 18:52] Cahllagerfeld commented on #61
[Link](https://github.com/Cahllagerfeld/nestjs-astra-module) to potential Module for Connecting to Datastax Astra.
Should we migrate the repo to Eddiehub as soon as its working?

[2021-04-28 22:18] eddiejaoude commented on #61
Sounds good 👍

[2021-04-30 17:39] Cahllagerfeld commented on #61
I'd say the module is ready for a test with this project.
The module isnt providing every single option yet, but we should get it up and running with the API.
Would you test it locally with `npm link` first, or would you make a initial release and test it with the built npm-github-package?

[2021-04-30 18:04] eddiejaoude commented on #61
good question, I think let's do it with a built package

[2021-04-30 19:26] Cahllagerfeld commented on #61
Okay, I think the best way of doing this is setting up a Action which builds the package on release, isnt it?
I need to do some research on using Github Registry for npm-packages first.

[2021-04-30 22:30] eddiejaoude opened #84 "Testimonials data"
Conversation from here https://github.com/EddieHubCommunity/EddieBot/issues/476

[2021-05-01 11:23] Cahllagerfeld commented on #61
How should we go on now?
I tested the module successfully with a real DataStax Astra Instance.
Do we migrate the repo, or leave it for now?
Shall I already start implementing the module in the modules or do you see any steps that need to be made before implementing it?

[2021-05-01 13:45] Cahllagerfeld opened #85 "Connect Module to Datastax Astra"
The actual Database needs to be connected to our API

[2021-05-01 14:53] Cahllagerfeld commented on #85
I think this issue will lead to a few more.
- [ ] remove hardcoded Ids
- [ ] remove hardcoded dates
- [ ] adjust step-definitions to unknown-values like `id` or `date`
- [ ] adjust github actions for stargate-testing

I think this PR might get a bit bigger then.
Do you want to do all modules at once, or start with `standup` for example?

[2021-05-02 22:26] eddiejaoude commented on #85
I think most of those could go in a new PR, to try and keep PRs small. Maybe each module could be done in its own PR?

[2021-05-03 05:14] Cahllagerfeld commented on #85
Sure! lets do it like this 👍

[2021-05-03 14:35] #85 closed

[2021-05-03 15:56] Cahllagerfeld opened #87 "Connect standup-module to database"

[2021-05-05 09:11] eddiejaoude opened #89 "docker compose file with Stargate for local dev"

[2021-05-06 16:10] Cahllagerfeld commented on #29
Theres a PR for this. Is this PR still relevant or do we need to do this again?

[2021-05-06 17:28] eddiejaoude commented on #29
I think best probably to do it again 👍 we need this before people start to contribute

[2021-05-06 19:00] Cahllagerfeld opened #92 "Bump Astra-package"
I updated the Version of the Astra-package to `0.0.2`. thats why the installation fails in package.json. We should bump that asap

[2021-05-06 19:09] #92 closed

[2021-05-09 18:33] Cahllagerfeld opened #95 "Connect github-module to database"

[2021-05-09 18:34] Cahllagerfeld opened #96 "Connect discord-module to database"

[2021-05-09 18:34] Cahllagerfeld opened #97 "Connect calendar-module to database"

[2021-05-09 21:05] #89 closed

[2021-05-09 21:19] eddiejaoude opened #98 "Docs need updating with how to use APPROVED_TOKENS"
To authenticate with the API, an envar needs to be passed

[code]

[2021-05-13 23:03] #87 closed

[2021-05-13 23:04] #34 closed

[2021-05-13 23:04] eddiejaoude commented on #34
Using AstraDB (Stargate)

[2021-05-14 05:15] Cahllagerfeld commented on #29
closed with #91

[2021-05-14 05:15] #29 closed

[2021-05-14 09:48] #98 closed

[2021-05-15 13:05] eddiejaoude opened #101 "Action to create changelog + release"
[code]

[2021-05-15 13:16] #101 closed

[2021-05-15 13:16] eddiejaoude opened #102 "Stale Action"
[code]

[2021-05-15 13:16] #102 closed

[2021-05-15 13:26] eddiejaoude opened #103 "Husky disable flag for CI fails"

[2021-05-15 13:27] #103 closed

[2021-05-15 15:05] #95 closed

[2021-05-16 09:30] #96 closed

[2021-05-17 16:24] Cahllagerfeld opened #106 "[FEATURE] Websockets for Endpoints"
The endpoints of the API could trigger Websocket-Events on which Front-end-Applications could listen

[2021-05-17 16:28] Cahllagerfeld commented on #61
Is this still open?

[2021-05-17 16:32] Cahllagerfeld commented on #84
We should define the Schema for this entity, before implementing this.

[2021-05-17 16:36] Cahllagerfeld commented on #80
The Schema for this entity should be defined before implementing

[2021-05-17 16:38] Cahllagerfeld commented on #50
Need a fix for using GHPR for building the Docker-Image

[2021-05-18 08:12] eddiejaoude opened #107 "Who can update/delete data?"
sending a payload body on a DELETE request might cause some existing
implementations to reject the request.

Initial conversation https://github.com/EddieHubCommunity/api/pull/105

/cc @Cahllagerfeld

[2021-05-18 08:22] Cahllagerfeld commented on #107
Do we need a role-management then, or who do you consider to be a admin? 😅

[2021-05-18 08:29] #97 closed

[2021-05-18 08:47] eddiejaoude commented on #107
To keep things simple, I am thinking data only gets created/updated/deleted by the Discord bot, so we can use the Discord roles and author from there. What do you think?

[2021-05-18 08:56] Cahllagerfeld commented on #107
If its only the bot, thats probably the best viable way. Then we just have to think of a way on how to validate the actual discord roles in the guard

[2021-05-18 10:10] eddiejaoude commented on #107
## Modules

**discord**
- change `discordUser` to `DiscordAuthor.uid` (also have `DiscordAuthor.platform`)
- update/delete check for `uid`

**standup**
- change `discordUser` to `StandupAuthor.uid` (also have `StandupAuthor.platform`)
- delete check for `platform` + `uid`

**calendar**
- delete/update check for `platform` +`uid`

**github**
- [x] information from GitHub's API

[2021-05-18 10:13] eddiejaoude commented on #61
This is done now, yep we can close 👍

[2021-05-18 10:13] #61 closed

[2021-05-18 10:48] eddiejaoude opened #108 "Fetch GitHub data using Discord connected"
**Environment variables**
- Discord token that allows `connections`

**Workflow**
- *Note: Discord bot `!github`* (if user has connected GitHub)
- end-point `GET: /github/trigger` header to include platform (discord) + uid
- this API will go to Discord's API to get [connection list](https://discord.com/developers/docs/resources/user#connection-object)
- if GitHub connection exists, then check GitH

[2021-05-18 16:13] Cahllagerfeld opened #109 "add description and author to package.json"

[2021-05-18 17:16] Kritika-2000 commented on #109
@Cahllagerfeld   Sir! can I work on this issue ? Can you tell me what name and description you want so that I can add it ?

[2021-05-18 18:27] Cahllagerfeld commented on #109
I think
**description**:  `An API to manage our community data`
**author**: ` EddieHubCommunity `

What do you think @eddiejaoude

[2021-05-19 06:46] Kritika-2000 commented on #109
ok so can I work on it ?

[2021-05-19 07:40] Cahllagerfeld commented on #109
sure 👍

[2021-05-19 09:27] Cahllagerfeld commented on #109
closed with #111

[2021-05-19 09:27] #109 closed

[2021-05-19 15:32] Cahllagerfeld commented on #107
short update:

- [x] functionlity works since yesterday
- [ ] e2e-tests need new step-defintion

[2021-05-23 06:55] Cahllagerfeld opened #113 "[Discussion] Api Microservices"
We're currently building a monolithic application which nearly doesn't scale at all.
Wouldn't it be better to implement it as microservices, or would the api would get too complex for the requirements the project needs to fullfill?

It's just for discussion not for implementation

[2021-05-23 11:04] eddiejaoude commented on #113
It makes some things simpler and other things more complicated. It would be interesting to hear peoples thoughts on this. As it is still quite small at the moment, I would suggest keeping it as a single repo and service, then in the future we can look to split it out if needed as we understand the requirements more

[2021-05-23 15:35] Cahllagerfeld commented on #113
I like the idea of building a dockerized microservice cluster. But as you said I'm not sure if thats a little overkill for the current app. When deciding to split the project to microservices, we need to make some architectural decisions like using a discovery-service, using a message broker, etc...

[2021-05-26 18:04] Souvikns commented on #108
Hey, @eddiejaoude would like to work on this. One quick question though, will this command be supported by EddieBot?

[2021-05-27 05:42] #107 closed

[2021-05-27 06:05] Cahllagerfeld commented on #50
I can have a look at this `npmrc`-Problem when building the image. Is there a way on how to test this without making 100 commits to `main`?

[2021-05-27 06:08] eddiejaoude commented on #50
thank you! this is on my list but I did not get round to it yet

Wit could be done in a branch and the Action trigger could be updated temporarily for that branch

[2021-05-27 06:10] Cahllagerfeld commented on #50
Sounds legit.
I'll have a look at this then

[2021-05-27 06:20] eddiejaoude opened #114 "Husky issue in windows"
Npm pre install script has a check if husky should run by using an environment variable, but does not work on windows.

This was added as husky should not run in the Dockerfile, but the native check was not working.

Try using `--ignore-scripts` instead

[2021-05-27 06:27] eddiejaoude commented on #50
Here is an example I am trying, I did a temporary update to the Action trigger https://github.com/EddieHubCommunity/api/pull/115

[2021-05-27 06:30] eddiejaoude commented on #50
This was the commit, because now I removed the temporary code, the PR link won't make sense 🤦‍♂️ https://github.com/EddieHubCommunity/api/pull/115/commits/d079a40aa334620324dec7c15e8ee69535d1fe60

[2021-05-27 06:34] #114 closed

[2021-05-27 13:25] bineetNaidu commented on #72
Is anyone working on it :smiley:  ??

[2021-05-27 16:08] Cahllagerfeld commented on #72
As far as I know isnt this assigned to anyone.

[2021-06-03 09:47] eddiejaoude commented on #108
Thanks @Souvikns . As the Discord request comes into this API project, this API project will go and get the data. This project should not be aware of EddieBot, only that it will have the user's Discord information. I hope that makes sense

[2021-06-03 10:07] Souvikns commented on #108
As it is hitting up the discord service to check for a GitHub connection, I think the URL should be `/discord/github`, also all we need is the discord user id, which is called by the bot will be easy to get, and rest is fine.

One more thing, I am having some issue with installing the dependencies once I figure it out I will make a PR.

[2021-06-03 10:43] Souvikns commented on #108
hey @eddiejaoude I was thinking of creating a PR and discuss all the work there but I guess I can push code until all the test cases pass, and I am having some issues with this because I have made no changes but still test cases are failing, and also the development server is not starting.

I think i missed something but I followed the readme for setup, can you help me with this.

![image](https:/

[2021-06-03 12:53] eddiejaoude commented on #108
hey @Souvikns , sorry for my slow reply. You need the database running, that port is for AstraDB - maybe the documentation is not clear.

Can you share the whole output from your terminal? Did you run `docker-compose up`?

[2021-06-03 12:57] Souvikns commented on #108
no, I didn't run `docker-compose`, and this is all I am getting in the terminal

![image](https://user-images.githubusercontent.com/41781438/120648447-45802b00-c499-11eb-8983-1f029638ae62.png)

I am missing these in the .env file could this be the problem
[code]

[2021-06-03 13:22] eddiejaoude commented on #108
Do you have docker installed?

Those missing config is fine, we usually use docker locally but you could use AstraDB in the cloud instead.

You would have to sign up here http://links.eddiejaoude.io/t/CiEQRydj4GdT on DataStax's AstraDB serverless (it is free), then get your credentials to put it in the config you mentioned above.

[2021-06-03 13:55] Souvikns commented on #108
@eddiejaoude actually docker is not installed, also I am using windows. I think signing up is the only option open to me.

[2021-06-03 13:57] eddiejaoude commented on #108
ok, sign up and try it 👍 any questions let us know 🤓

[2021-06-03 13:59] Souvikns commented on #108
![image](https://user-images.githubusercontent.com/41781438/120657109-d4914100-c4a1-11eb-82d6-1eba4d2787ba.png)
 Am I doing it right because it says `$0.25/1M` for read request ?

[2021-06-03 14:17] Souvikns commented on #108
I did generate all the tokens reading their documentation, but still getting the same issue, do GitHub codespaces support docker-compose, Or should I install linux.

[2021-06-03 14:44] eddiejaoude commented on #108
This is from their docs ` Each plan includes a $25.00 free credit per month. The $25 credit is good for approximately 30 million reads, 5 million writes, and 40GB of storage per month.`

Link if you want to read more info https://docs.datastax.com/en/astra/docs/pricing-and-billing.html

[2021-06-03 14:50] eddiejaoude commented on #108
I just tested it using AstraDB in the cloud and it worked, but I noticed that if the `.env` file contains any of the `STARGATE_*` config then it is looking for the local database not in the cloud, even if the config for the cloud is set.

So I suggest removing any config in `.env` that has `STARGATE_*` and so it should only have...

[code]

[2021-06-03 14:51] eddiejaoude commented on #108
Thank you for persisting with this, it is good for us to work through these issues, so that it is better for the next person. Thank you again, let us know how you get on 🤓

[2021-06-03 14:57] Cahllagerfeld opened #117 "Refactor Initilaize logic"
I just tested it using AstraDB in the cloud and it worked, but I noticed that if the `.env` file contains any of the `STARGATE_*` config then it is looking for the local database not in the cloud, even if the config for the cloud is set.

So I suggest removing any config in `.env` that has `STARGATE_*` and so it should only have...

[code]

_Originally posted by @eddiejaoude in https://github.com/

[2021-06-03 16:31] Souvikns commented on #108
Thanks, this solves everything, will be making my PR soon 👍🏻

[2021-06-03 18:07] eddiejaoude commented on #117
Good idea 👍 - I think that lowers the barrier to entry, because then all people need to do is log in to AstraDB with their Github account and they can get it working 👍

good idea @Cahllagerfeld 💥

[2021-06-05 13:57] Souvikns commented on #108
so e2e tests are failing and so I am unable to commit my code this is something new to me I am unable to understand what e2e is.

[2021-06-05 15:21] eddiejaoude commented on #108
@Souvikns there might be something hardcoded, I will check. Can you share the error you get? Thank you for working through this with us and helping us make improvements to the project 👍

[2021-06-05 15:23] eddiejaoude commented on #108
I checked, our automated tests are hardcoded to use localhost not the cloud https://github.com/EddieHubCommunity/api/blob/ae135e465fdd6ac7e635eb2d79e4b4dcdd35c17d/test/step-definitions/requests.ts#L23

@Cahllagerfeld I think we can make this read the environment file?

[2021-06-05 15:53] Cahllagerfeld commented on #108
We could do this, although I don't think running the tests against a (potentially) paid online DB isn't a great idea, is it?

[2021-06-05 15:54] Souvikns commented on #108
Actually, the error code is pretty big, when I am trying to commit first it checks `lint`, then `jest` then `e2e test` I am just pasting that my terminal is showing

[code]

[2021-06-05 16:05] Cahllagerfeld commented on #108
The line you mentioned is in the Setup for the local `Stargate` instance.
We would probably have to steer which environment variables are set in order to get info weather to use online config or local.
In case the config is meant to setup the local instance I think the line you marked in fine.

[2021-06-05 16:10] eddiejaoude commented on #108
You are right, it is not great, but I think most people will only run it occasionally, and the free tier on AstraDB is super generous

[2021-06-05 16:11] Cahllagerfeld commented on #108
i opened a pr #119 which might fixes this.
You can take a look at it.

[2021-06-05 16:15] Cahllagerfeld commented on #117
I had a thought about this. Here are my thoughts
1. we need the `STARGATE_*`-env variables because we're using the `cp`-Command in order to make the tests in the actions work properly, I think we cant leave them away.
2. In my opinion it should be enough to adjust the Readme with a section `setup locally` or `setup with datastax` and tell there which `env-variables` need to be deleted in order to

[2021-06-05 16:55] eddiejaoude commented on #108
Thanks @Cahllagerfeld 👍

@Souvikns I think the issue is it is trying to connect locally

I will test @Cahllagerfeld 's changes now

[2021-06-06 09:18] eddiejaoude commented on #108
We are almost there @Souvikns with a solution 🤓

[2021-06-06 09:33] eddiejaoude opened #120 "Refactor formatting"
Some test files have too many spaces

[2021-06-06 09:34] eddiejaoude opened #121 "Remove tests from husky as not everyone needs the tests to run, CI can check this"
This will lower the barrier to entry for people who might not need everything setup on their first contribution

[2021-06-06 09:37] eddiejaoude commented on #108
Also this might help @Souvikns , I created a PR that removes forcing running the tests https://github.com/EddieHubCommunity/api/pull/122

[2021-06-06 10:12] #121 closed

[2021-06-06 10:14] eddiejaoude commented on #108
@Souvikns #122 PR has now been merged, if you pull down the latest changes, you should be able to make a commit without forcing you to run the tests locally. But we are still working on getting the tests running locally against the cloud, as I think that could be an option for some people even if not ideal.

PS. sorry for so many messages in the last 24 hours, but we are getting there to solving i

[2021-06-06 10:46] Souvikns commented on #108
@eddiejaoude I pulled the changes can you specify the commit lint that I should follow, I am getting this error

![image](https://user-images.githubusercontent.com/41781438/120921719-8e76f000-c6e2-11eb-815c-b1d5ca443654.png)

[2021-06-06 11:07] eddiejaoude commented on #108
Oh, we should put some examples in the README, sorry and thank you 👍

The format is...

[code]

I am not sure what your commit message looked like?

Here are examples from the commit history https://github.com/EddieHubCommunity/api/commits/main

A simple example would be `fix: I improved something (#123)`

I hope that helps

[2021-06-08 17:13] eddiejaoude opened #125 "Deploying to kubernetes"
1. [x] Docker file
1. [x] Docker container registry
1. [x] Test container locally
1. [x] Deployment config (resource definition)
1. [x] Service config (resource definition)
1. [x] Ingress config (routing traffic)
1. [x] DataStax AstraDB secrets (GitHub secrets)
1. [x] Deploy via GitHub Actions
1. [ ] ~~https setup~~ moved to separate ticket https://github.com/EddieHubCommunity/api/issues/131

1. [

[2021-06-08 19:13] Cahllagerfeld opened #126 "Fix Swagger for Kubernetes Deployment"
The Deployed version of the API has problems displaying the swagger-documentation. We should take a look at it.

[2021-06-09 00:09] eddiejaoude opened #127 "Display deployed version number"

[2021-06-09 00:09] #127 closed

[2021-06-11 17:58] eddiejaoude opened #128 "Store notifications from AlexJS"
[code]

[2021-06-16 18:27] Cahllagerfeld opened #129 "Fix the Kubernetes Deployment?"
I receive an `Internal Server Error` when trying to access the endpoints except `Standup` when accessing the Kubernetes Version

[2021-06-22 12:05] Cahllagerfeld commented on #50
I think this is working now isnt it?

[2021-06-22 13:01] eddiejaoude commented on #50
Oh yes this is done, thank you, I will close 👍

[2021-06-22 13:01] #50 closed

[2021-06-23 07:58] eddiejaoude commented on #129
I think the issue is because there is no `namespace` created

[2021-06-23 08:08] eddiejaoude opened #130 "Namespace needs to be moved to environment variable"
When deployed, we will use `prod` but when developing, we will use `dev` to avoid any confusion

For example...
[code]

[2021-06-23 08:28] eddiejaoude commented on #129
Even when the `namespace` is created, but there is no collection, a `500` is still thrown

[2021-06-23 09:00] eddiejaoude commented on #129
Now there is a `namespace` and a collection `standup`, the endpoint api.eddiehub.org/standup returns the result

[code]

[2021-06-23 09:05] eddiejaoude opened #131 "Kubernetes to use https"

[2021-06-23 09:07] eddiejaoude opened #132 "Deployed swagger renders blank page"
Deployed
http://api.eddiehub.org/swagger/ (shows blank page)

Locally
http://localhost:3000/swagger (works fine)

- [ ] Run container locally and see if swagger has an issue or not

[2021-06-23 09:08] eddiejaoude commented on #125
Moved incomplete tasks to their own tickets

[2021-06-23 09:08] #125 closed

[2021-06-24 09:11] eddiejaoude opened #133 "Load in example data via command"
When starting the project from scratch there is no data, having a command that runs in a few example data for each end point would be great. This should use the same config as the app from `.env`

[2021-06-24 09:35] eddiejaoude opened #134 "No data returns a 500"
I think the `500` is because there is no data in the DB and we do not handle the `404` exception. We will need something like this...

[code]

[2021-06-24 13:14] #134 closed

[2021-06-25 05:40] eddiejaoude opened #136 "Stored EddieBot config per Discord Server"
Store in collection where document id is the server id

**current config data**
[code]

[2021-06-25 05:52] eddiejaoude opened #137 "Using namespace for separate of data"
I was thinking, the `namespace` could be set in the service? this could be the name of the Discord server id - then it would help us easily separate the data between servers

Currently it is set in the module

[code]

What do you think?

[2021-06-25 11:37] Cahllagerfeld commented on #137
First of all I think thats possible, but with a little refactoring I guess.
My first question is: Is it meant to be a `saas`-Solution where the api is used for many bots as Frontend, or can we say every bot has its own api?

Here are my thoughts on that:

- I think we cant use the Astra-Service in that scenario, because it needs the `forFeature`-Settings injected when starting the application.
- W

[2021-06-25 11:47] eddiejaoude commented on #137
Thank you for the quick response 👍

There are people who would like to use EddieBot where they can enable/disable certain features and configure those features, so I think it would be to go down that route from the beginning to be able to support multiple Discord servers.

Is there another way we can use the nestjs service so we can update what we send to it? The Astra client accepts the namespace

[2021-06-25 16:06] Cahllagerfeld opened #138 "read versionnumber directly from env"
we could use `process.env.npm_package_version` instead of reading the version-number with the config-serivce and the env-variables like [here](https://github.com/EddieHubCommunity/api/blob/9813ac19d735da63fa93ceb36e0ffa74b3a76031/src/app.service.ts#L10).

[2021-06-25 17:07] iason9 opened #139 "swagger version should not be hard written"
swagger version needs to read from the package.json file

[2021-06-25 17:35] eddiejaoude commented on #132
Duplicate, closing for #126

[2021-06-25 17:35] #132 closed

[2021-06-25 17:35] eddiejaoude commented on #126
Deployed
http://api.eddiehub.org/swagger/ (shows blank page)

Locally
http://localhost:3000/swagger (works fine)

- [ ] Run container locally and see if swagger has an issue or not

[2021-06-25 17:58] iason9 opened #141 "fix the commented test"
fix the test : And the response should be "Welcome to EddieHub! Currently running version: v0.0.0" in : test/features/hello-world.feature

[2021-06-25 18:08] #138 closed

[2021-06-25 18:23] eddiejaoude commented on #138
Great suggestion 👍

[2021-06-26 08:18] Cahllagerfeld commented on #137
I think I got a possible solution tonight. If that works we can reuse the Astra-Service to some extend but redefine it. I'll test it during the day!

[2021-06-26 08:47] eddiejaoude commented on #137
Oh awesome! any questions or want to bounce ideas let me know. Today I am quite busy with conference talks and community calls etc, but tomorrow I have more time if you want to bounce ideas and/or pair on it 🤓

[2021-06-26 13:39] Cahllagerfeld commented on #137
Seems like my idea works as I want 😄

[2021-06-26 13:54] eddiejaoude commented on #137
Awesome 💥

[2021-06-26 13:59] Cahllagerfeld commented on #137
We should discuss from where the namespace will come? Is it sent with a header, in the body, etc...?

[2021-06-26 16:57] eddiejaoude commented on #137
Oh good question 🤔

Probably header is best, what do you think?

[2021-06-26 17:22] Cahllagerfeld commented on #137
My answer would have been header as well :D

[2021-06-26 21:05] eddiejaoude commented on #106
Yep, we will definitely need this for the map UI project

[2021-06-27 17:09] Cahllagerfeld opened #143 "Approved-Clients"
We should add a `Middleware` which validates the approved clients when sending request to the api

[2021-06-27 17:16] eddiejaoude opened #144 "Rename auth decorate to be hyphenated"
From

[code]

To

[code]

[2021-06-27 17:23] eddiejaoude commented on #139
I think this is now fixed https://github.com/EddieHubCommunity/api/blob/main/src/swagger.ts#L6

[2021-06-27 17:23] #139 closed

[2021-06-27 17:26] eddiejaoude opened #145 "Run tests against local or remote"
Ideally local is better, but some people cannot run Docker locally

[2021-06-27 17:47] eddiejaoude commented on #143
Dependent on the keyspace being created programmatically for each Discord server.

If it is possible, then check environment variable for `PUBLIC_SERVER`, if public read is allowed by everyone, others only `APPROVED_TOKENS` are allowed to read/write

[2021-06-27 18:35] Cahllagerfeld opened #147 "Error Handling for 500"
There are several issues regarding error-handling.
These need to be found with failing e2e-tests and then handled by try-catch

[2021-06-28 09:09] #144 closed

[2021-06-28 09:22] eddiejaoude opened #151 "Delete test data before running tests"

[2021-06-28 14:02] Cahllagerfeld commented on #151
Thats from the [stargate-docs](https://stargate.io/docs/stargate/1.0/developers-guide/document-using.html)

[2021-06-28 14:18] eddiejaoude commented on #151
Awesome, we can drop all the collections!

Looking at the docs, we might be able just to drop the keyspace `test`, that way we don't have to manage the collection names
https://stargate.io/docs/stargate/1.0/quickstart/quick_start-rest.html#_create_or_delete_keyspace_and_table_schema

[2021-06-28 16:30] #145 closed

[2021-06-28 16:30] #147 closed

[2021-06-28 16:30] eddiejaoude commented on #151
Could this be added to the same library that creates the keyspace, but has a delete flag?

[2021-06-29 05:58] Cahllagerfeld commented on #151
I added this to the package, so it should work against the local-stargate container.
I just realized another thing:

the `@before()` hook seems to be executed before every single test.
[code]
This means the `exec` with the `npm run prestart` runs before every test. That causes way too much traffic and may be the reason for the heavy load on my computer.
Is there actually a spot where I can put an

[2021-06-29 07:57] eddiejaoude commented on #151
I think it is possible to use `BeforeAll` https://github.com/cucumber/cucumber-js/blob/main/docs/support_files/api_reference.md#beforealloptions-fn

[2021-06-29 08:35] #151 closed

[2021-06-29 10:05] eddiejaoude commented on #151
the first time I run the tests I get ...

[code]

and the 2nd time I get ...

[code]

There might be an unhandled promise 🤔

[2021-06-29 10:12] eddiejaoude commented on #151
Running some tests, it looks like the `delete` took much more than 5s to complete (the `create` is fast though)

**create**
[code]

**delete**
[code]

[2021-06-29 10:17] eddiejaoude commented on #151
I think I fixed it by increasing the timeout of Cucumber https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/timeouts.md

[2021-06-29 10:21] Cahllagerfeld commented on #151
just did exatcly the same

[code]

[2021-06-29 10:21] eddiejaoude commented on #151
Oh cool 👍 , I just created the PR https://github.com/EddieHubCommunity/api/pull/153

[2021-06-29 10:22] Cahllagerfeld commented on #151
were moving along quite fast 💥

[2021-06-29 10:23] eddiejaoude commented on #151
Thank you for your help 🔥

[2021-06-29 20:12] Cahllagerfeld commented on #141
the corresponding PR is merged, can this be closed then?

[2021-06-29 20:31] iason9 commented on #141
okay closed it !

[2021-06-29 22:19] eddiejaoude commented on #141
I think the end-to-end test has not been updated for this yet

[2021-06-30 10:57] #141 closed

[2021-07-03 00:03] eddiejaoude opened #156 "Database encryption"
Continued from https://github.com/EddieHubCommunity/EddieBot/issues/450

https://docs.datastax.com/en/security/6.7/security/secEncryptEnable.html

[2021-07-06 16:01] Cahllagerfeld opened #157 "Make Modules configurable"
The modules of the API needs to be configurable.

The configuration should be stored within the database.

_Originally posted by @eddiejaoude in https://github.com/EddieHubCommunity/EddieBot/issues/573#issuecomment-874805732_

[2021-07-06 16:03] Cahllagerfeld opened #158 "Use new Project-Boards"
We could have a look and use the new Project-Boards github provides. While Eddiebot and the API are growing together many issues from the projects depend on each other, so we need a way to organize who works on which issue in which project to not loose the overview.

[2021-07-06 16:49] Cahllagerfeld commented on #157
We should handle the case if theres no config provided in the DB as well

[2021-07-06 18:41] eddiejaoude commented on #158
Love this idea 👍

I think it would make a good live stream for us all to have a play with the new project boards 🤓

[2021-07-06 18:41] eddiejaoude commented on #157
Thank you for raising 👍

[2021-07-13 19:00] Cahllagerfeld commented on #157
I'd put the configs in a own collection. Because of that I'd probably handle the Config-Logic in a own Module. What would be a good name for that module? I think we cant use `ConfigModule` as this is provided from the Nest-package.

[2021-07-13 19:04] eddiejaoude commented on #157
Good question 🤔

What about `ConfigDataModule`? 🤷‍♂️

[2021-07-13 19:26] Cahllagerfeld commented on #137
I came up with a solution to handle the Multi-Tenancy I think!!

[2021-07-13 19:39] eddiejaoude commented on #137
Great 👍

[2021-07-13 19:47] Cahllagerfeld commented on #137
I think it's too complicated to explain in via comment properly. We could discuss it in the voice channel or when pairing on it.

[2021-07-13 19:48] eddiejaoude commented on #137
Sure 👍 then we can document notes here afterwards and it will also include the community 🤓

[2021-07-20 18:18] Cahllagerfeld opened #161 "Add AsciiDoc for Documentation?"
Should we add Ascii-Doc for Documentation (Auth-Flow, etc...) or is Swagger and standard `Readme` enough for this?

[2021-07-21 17:45] Cahllagerfeld opened #162 "Update Nestjs v8"
Nestjs released a new major version with new features and deprecations. Maybe we should upgrade our dependencies to match the new version

[2021-07-21 17:58] eddiejaoude commented on #162
oh interesting, yes 👍

[2021-07-21 18:06] Cahllagerfeld commented on #162
I'd do that after the current PR is merged, because otherwise we may run into many many conflicts with the dependencies

[2021-07-21 18:41] eddiejaoude commented on #161
Good question 🤔

I think we might need AsciiDoctor to help write some proper documentation, that can then reference Swagger - we don't want to duplicate but them to complement each other

[2021-07-21 18:41] eddiejaoude commented on #162
Sounds like a good plan 👍

[2021-07-23 17:00] kaiwalyakoparkar opened #165 "Move tokens from memory to database"
File: `​src/auth/auth.service.ts`

- [ ] rename variable to tokens
- [ ] use `tokens` collection

[code]

[2021-07-23 18:45] Cahllagerfeld commented on #126
In `main.ts`
this
[code]
needs to be this
[code]

[2021-07-23 19:15] eddiejaoude opened #169 "Docker M1"

[2021-07-24 01:43] #169 closed

[2021-07-24 15:02] ItsMeIshan opened #173 "create new endpoint on the auth module to validate tokens."

[2021-07-25 12:52] Cahllagerfeld commented on #173
The Tokens are getting validated already within the authguard, or do you mean an endpoint which return `true/false` if the token is still valid or not?

[2021-07-25 12:52] Cahllagerfeld opened #174 "[Docs]Minimal Description for new Authentication"

[2021-07-25 13:17] eddiejaoude commented on #173
Yep 👍 , it is an endpoint the user or app can check if the token is still valid or not

[2021-07-25 13:18] eddiejaoude commented on #174
Documenting this workflow is super important 👍 - it can reference the endpoints and swagger docs

[2021-07-26 23:32] eddiejaoude commented on #129
I think this is fixed now

[2021-07-26 23:32] #129 closed

[2021-07-28 16:45] Cahllagerfeld opened #175 "[IDEA] Livemap Todos"
Maybe we can collect the things that need to be done before the Livemap is implementable here.
I think when we're starting to collect data this will be one of the next milestones

[2021-07-28 18:18] eddiejaoude commented on #175
yep, this will be next 👍

For the map, I we have most of the data:
- location (set by the Discord bot command or either from their GitHub profile)
- profile picture
- events from GitHub and Discord

[2021-07-29 10:41] mikeysan commented on #175
To make it easier for anyone who missed the meeting to follow, is there a discussion that this issue can be linked to?

[2021-07-31 09:10] Cahllagerfeld opened #176 "Add Fakesjs for e2e-Tests"
E2E-test could be even more dynamic by using [faker.js](https://github.com/marak/Faker.js/) to generate "real-world"-data for the tests

[2021-07-31 09:11] eddiejaoude commented on #176
I think this is a great idea 👍

[2021-07-31 09:19] #137 closed

[2021-08-03 16:06] #165 closed

[2021-08-03 16:06] #173 closed

[2021-08-03 16:23] Cahllagerfeld commented on #161
I think this can be set up. The documentation itself is in #174.
The setup can be found in [this](https://github.com/eddiejaoude/stargate) repo

[2021-08-04 07:03] #162 closed

[2021-08-04 08:55] schmelto commented on #50
Consider moving the issue in the project board.

[2021-08-06 07:04] #161 closed

[2021-08-07 06:33] Cahllagerfeld opened #181 "[OTHER] Add Link to Ascii-Doc Documentation in repo"
### What would you like to share?

Currently the Link to the Ascii-Doc isnt public in the repo. We should change that

### Additional information

_No response_

[2021-08-08 11:32] #174 closed

[2021-08-08 13:09] Cahllagerfeld opened #182 "[OTHER] Clean Branches"
### What would you like to share?

I think we're having quite a few stale branches which are already merged. We should probably delete the merged branches to avoid confusion

### Additional information

_No response_

[2021-08-08 20:27] Cahllagerfeld opened #183 "[BUG] token expiration"
### 🙁 Actual behavior

currently the [token-expiration](https://github.com/EddieHubCommunity/api/blob/1b091078ca161410f970978f74da234fbebce34c/src/auth/auth.service.ts#L35) is still hardcoded.

### 🙂 Expected behaviour

Maybe in a future bugfix we should make this configurable with a bot-command and add a default-fallback

### 🔢 Steps to Reproduce the Problem

_No response_

[2021-08-08 20:35] Cahllagerfeld commented on #157
Maybe this Issue should be split up into several smaller ones to prevent the PRs from getting to back. I think this issue might be more work than it looks at first glance

[2021-08-08 20:37] eddiejaoude commented on #183
Oh yes! Thank you for raising 👍

[2021-08-08 20:38] eddiejaoude commented on #157
Yep, we could split it up per module

[2021-08-10 06:16] Cahllagerfeld opened #184 "[BUG] Dont Validate expiration when delete"
### 🙁 Actual behavior

When [deletig a token](https://github.com/EddieHubCommunity/api/blob/1b091078ca161410f970978f74da234fbebce34c/src/auth/auth.service.ts#L66) we verify the signature, that the Token or Client should be only deleted if the signature verifies. If validating the expiration we wont be able to delete expired tokens?

### 🙂 Expected behaviour

Is it okay, to not be able to delete ex

[2021-08-10 06:20] Cahllagerfeld opened #185 "[BUG] Not Return 400 with invalid token"
### 🙁 Actual behavior

When [validating a token](https://github.com/EddieHubCommunity/api/blob/1b091078ca161410f970978f74da234fbebce34c/src/auth/auth.controller.ts#L59) a `400` gets returned in case the token is invalid.
I tried to implement this feature yesterday to the bot - Problem is when returning a 400 its treated like an exception which means that we need to catch it in the Bot.

### 🙂 Expe

[2021-08-10 06:26] eddiejaoude commented on #185
Oh yes, good spot 🤓  yep returning a `200` with an invalid message is probably best 👍

[2021-08-10 18:55] #185 closed

[2021-08-13 15:19] Cahllagerfeld opened #188 "[FEATURE] Keyword Tracking"
### ⭐ Suggestion

Like mentioned in [this](https://github.com/EddieHubCommunity/EddieBot/issues/598) Feature-Request, we should store special Keywords and the user who subscribed to the Keyword in the Database

### 💻 Use Cases

Community Partners could get a ping when a special  word is posted within a message.

### ❌ Related Problems

_No response_

[2021-08-13 18:56] Cahllagerfeld opened #189 "[FEATURE] Gitpodify Project"
### ⭐ Suggestion

Make the project ready for gitpod

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-08-16 18:02] Cahllagerfeld opened #191 "[FEATURE] Startup with docker-compose"
Awesome! Thank you @Cahllagerfeld !!

No problem, we can ask for help on this, I think there is `depends_on` property. Is a wait really needed though because I think the API does not make a connection to Stargate until a http request hits the API?

Docs https://docs.docker.com/compose/startup-order/

_Originally posted by @eddiejaoude in https://github.com/EddieHubCommunity/EddieBot/issues/601#iss

[2021-08-16 18:06] eddiejaoude commented on #191
I think it should wait because of the `depends_on`? we might need to check / test

[2021-08-18 08:31] Cahllagerfeld opened #192 "[DOCS] Update Readme and Docs to use gitpod"
### What would you like to share?

When supporting Gitpod, the docs need to be updated on how to get started with it.

### Additional information

_No response_

[2021-08-21 07:58] #189 closed

[2021-08-21 08:22] Cahllagerfeld commented on #189
Let me check the fix

[2021-08-21 08:41] Cahllagerfeld commented on #189
I cant really explain why it fails at the build. Its exactly the same as in `build.yml` but in the docker-action its failing

[2021-08-21 09:17] Cahllagerfeld opened #194 "[FEATURE] optimize gitpod.yml"
### ⭐ Suggestion

Currently the `gitpod.yml` uses a sleep to await the `docker-compose` which is a bit dirty, but should be fine for the initial setup. We can have a look at optmizing this.

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-08-21 09:20] eddiejaoude commented on #194
Thanks for raising Cahl 👍

[2021-08-29 02:08] #108 closed

[2021-08-30 16:12] Cahllagerfeld opened #195 "[FEATURE] Change Collections to Arrays"
### ⭐ Suggestion

Currently the response from Astra gets just retunred. We should think of mapping the responses to arrays.

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-08-31 02:07] #131 closed

[2021-08-31 02:07] #133 closed

[2021-08-31 02:07] #130 closed

[2021-09-01 02:12] #136 closed

[2021-09-04 02:10] #83 closed

[2021-09-04 02:10] #143 closed

[2021-09-05 13:17] BOLT04 commented on #106
@Cahllagerfeld this seems like a cool feature, is it still needed?

[2021-09-05 13:20] BOLT04 commented on #195
Hi @Cahllagerfeld  👋, could you provide some examples where Collections would change to arrays?
Are these changes made to the `astra.service.ts` file?

[2021-09-05 13:21] Cahllagerfeld commented on #106
I dont know how @eddiejaoude planned with this. In my opinion its still needed. I think theres even a nest-package for Websockets `@nestjs/websockets @nestjs/platform-socket.io`. The last time I had a look at websockets with nestjs there was an issue that the packages wasnt compatible with the newest socket.io-version. I think there needs to be some research done on it first before implementing.

[2021-09-05 13:30] Cahllagerfeld commented on #195
Currently the data from Astra is returned like this
[code]

The idea was to turn it into something like this
[code]

The adjustments need to be done in [this](https://github.com/EddieHubCommunity/api/blob/main/src/astra/astra.service.ts) file

[2021-09-05 13:32] BOLT04 commented on #158
Hi everyone 😃, awesome idea @Cahllagerfeld 👍. This new projects board is a new feature in GitHub right?
I checked it [here](https://github.com/features/issues) and I think we would have to signup for the beta, or have we done that already?

[2021-09-05 13:46] Cahllagerfeld commented on #158
You can have a look in the eddiehub-community boards. We have early access. I already created one for Api & Eddiebot, but Eddie wanted to cover the project board topic in a stream

[2021-09-05 16:13] eddiejaoude commented on #106
yep I am definitely keen on this feature 👍 we could do a prototype / spike on a live stream 🤓

[2021-09-05 19:31] BOLT04 commented on #158
awesome, thank you @Cahllagerfeld 🙂

[2021-09-09 02:10] #156 closed

[2021-09-10 06:42] vedanthv commented on #188
This is a nice idea! What tech stack are your preferring to work on this?

[2021-09-10 07:02] Cahllagerfeld commented on #188
The API uses Nestjs and Datastax Astra / Stargate as database

[2021-09-11 12:03] BOLT04 commented on #113
I agree with @eddiejaoude in keeping it as it is, then if we reach a point where we start having problems with the current architecture, we discuss how to **evolve** it. In my opinion, microservices architecture is a viable option when we have a really good reason to do it. What would be the outcome and benefits of using it right now? What are the problems we are trying to solve?
I don't know much

[2021-09-17 19:32] BOLT04 commented on #188
can you give an example of how the feature would be used @Cahllagerfeld ?

[2021-09-18 08:02] Cahllagerfeld commented on #188
In my opinion the bot needs to send the message to the api. The api checks if the message contains a tracked word, and in case it is, it needs to send the userids back to the bot. The bot then sends a dm with the message URL to the UserIds it got from the api. Does this make sense? For now its more like an idea, I didnt spend any efforts in implementing this feature yet, so there might be some iss

[2021-09-18 11:11] BOLT04 commented on #188
yes that helps @Cahllagerfeld, thank you 👍. I agree with sending the whole message, because the bot doesn't know what keywords there are.
With that said, we should be using `HTTPS` for sure, since we would be sending user's data through the network 👍. Not sure any additional layer on top of HTTPS is needed to secure the user's message.... but I think nothing else is needed in terms of protocols. F

[2021-09-18 11:14] BOLT04 commented on #188
With this feature, we also need the ability to unsubscribe to keyword tracking, much like the open source reminders and other reminder features 😃. The user that gets pinged should have a link or instructions on how to unsubscribe, or subscribe to more keywords

[2021-09-18 11:19] Cahllagerfeld commented on #188
I already implemented a mechanism to identify 'trusted' and 'regular' apps doing the request to the api

[2021-09-18 21:59] BOLT04 commented on #188
awesome!! Do you have that implementation in some branch or PR @Cahllagerfeld ? Or is it documented somewhere in the repo?
Sorry, I'm not familiar with the API at its current state 😅

[2021-09-18 22:04] Cahllagerfeld commented on #188
Its already merged in the main-branch. You can take a look at the [ascii-docs](https://eddiehubcommunity.github.io/api/) I implemented.

[2021-09-18 22:05] Cahllagerfeld commented on #188
The API is able to sign access-tokens with different scopes (Read and Write). Only trusted apps, which have a Secret are allowed to create Write-Tokens. We can check for the scopes if they are trusted or not.

[2021-09-18 22:05] BOLT04 commented on #188
thank you 👍 I had a look at the docs and we might need to add a new scope for this new endpoint, right?

[2021-09-27 02:10] #84 closed

[2021-09-27 02:10] #80 closed

[2021-09-27 02:10] #82 closed

[2021-09-27 02:10] #77 closed

[2021-09-27 02:10] #79 closed

[2021-09-27 02:10] #59 closed

[2021-09-27 02:10] #68 closed

[2021-09-27 02:11] #55 closed

[2021-09-30 02:18] #126 closed

[2021-10-06 02:11] #175 closed

[2021-10-08 05:48] Cahllagerfeld opened #198 "[OTHER] Add Keyspace Interceptor for local Stargate"
### What would you like to share?

It needs to be checked if the Api runs against a local stargate instance or the online Astra. When running against the local instance the keyspace interceptor can be used to create keyspaces on the fly, when using Astra it can't.

Todos

- [ ] Add Logic for checking if local stargate or not
- [ ] Add interceptor to relevant endpoints.

### Additional information

[2021-10-08 16:16] kkhitesh opened #201 "[BUG] uses the discord-userid as database key instead of the auto-generated one from stargate"
### 🙁 Actual behavior

uses the discord-userid as database key instead of the auto-generated one from stargate

### 🙂 Expected behaviour

Use discord-userid

### 🔢 Steps to Reproduce the Problem

_No response_

[2021-10-08 16:18] Billa05 opened #202 "[BUG] <description>"
### 🙁 Actual behavior

auto-generate

### 🙂 Expected behaviour

use discord user-id

### 🔢 Steps to Reproduce the Problem

_No response_

[2021-10-08 16:18] lavanyayangala opened #203 "[BUG] <description>#first pr"
### 🙁 Actual behavior

discord-userid

### 🙂 Expected behaviour

use database key instead of the auto-generated one from stargate

### 🔢 Steps to Reproduce the Problem

_No response_

[2021-10-08 16:18] #201 closed, assigned to nobody

[2021-10-08 16:20] eddiejaoude commented on #203
thank you for raising, duplicate of #201

[2021-10-08 16:20] #203 closed

[2021-10-08 16:27] afuu21 opened #204 "[BUG] Fixed typo"
### 🙁 Actual behavior

fixed typo "environmentvariable" ---> "environment-variable"

### 🙂 Expected behaviour

Fixed a typo #205

### 🔢 Steps to Reproduce the Problem

_No response_

[2021-10-08 16:51] #204 closed, assigned to nobody

[2021-10-09 09:07] kkhitesh opened #206 "[FEATURE] Add a PR template"
### ⭐ Suggestion

Add a PR template to the repository.

You can refer [here](https://github.com/EddieHubCommunity/LinkFree/blob/main/.github/pull_request.md)

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-10-09 09:13] ShaileshKumar007 commented on #206
Let me work on this issue.

[2021-10-09 10:36] kkhitesh commented on #206
Sure @ShaileshKumar007 go ahead and raise a PR.

@krishguptadev Sorry, please lookout for other issues 🙂

[2021-10-09 11:23] krishguptadev commented on #202
Can you explain a bit more?

[2021-10-09 14:28] Cahllagerfeld opened #207 "Turn `Put`-Endpoints to `Patch`"
### What would you like to share?

What we are technically doing is a `Patch`, as we only update the properties with new ones. When doing patch, the whole object should be replaced.
Because of this reason we should turn our `Put`-Endpoints to `Patch`

### Additional information

_No response_

[2021-10-10 06:08] ShaileshKumar007 opened #210 "[FEATURE] Add contributors section in ReadMe.md"
### ⭐ Suggestion

I think it'll be good to add the Contributors section in the Readme file of the projects

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-10-10 12:31] BOLT04 commented on #207
I believe the `PUT` method does this, not `PATCH`. I'm not familiar with the implementation but if the payload sent on the HTTP request only contains a few fields to update, then it should use the `PATCH` method.
From what I saw on the [calendar feature test](https://github.com/EddieHubCommunity/api/blob/main/test/features/calendar.feature), the `PUT` request doesn't send the fields `createdOn` an

[2021-10-10 18:36] Cahllagerfeld commented on #207
Oh yes you are right, thats a typo, my fault. Replacing an object is indeed a `Put` not a patch.
I agree that we should definitely provide a `Put`-Endpoint as well. But the current implementation (which is also needed for the discord bot feature) is a patch.

[2021-10-10 18:37] Cahllagerfeld opened #212 "> Spike Put-Endpoints for Entities"
I believe the `PUT` method does this, not `PATCH`. I'm not familiar with the implementation but if the payload sent on the HTTP request only contains a few fields to update, then it should use the `PATCH` method.
From what I saw on the [calendar feature test](https://github.com/EddieHubCommunity/api/blob/main/test/features/calendar.feature), the `PUT` request doesn't send the fields `createdOn` an

[2021-10-12 07:24] #210 closed

[2021-10-12 07:26] eddiejaoude commented on #182
oh yes 17 is quite high, I can take a look

[2021-10-12 07:53] Cahllagerfeld commented on #182
awesome! 💥

[2021-10-12 07:56] krishguptadev commented on #182
Cool! Wish I could help!!

[2021-10-13 17:25] Cahllagerfeld opened #213 "[FEATURE] Add Docs to Ascii-Doc-Documentation"
### ⭐ Suggestion

We've set up the Ascii-Doc Documentation but currently only `Auth` and `Contribution` are documented. Maybe we should spend some effort in bringing the docs up to date.

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-10-18 22:10] #206 closed

[2021-10-20 14:25] schmelto opened #215 "Change License copyright to `Eddie Jaoude`"
Thanks everyone 👍 Makes sense. There is a mix across our Org repos, they should then be all updated to be `Eddie Jaoude`

_Originally posted by @eddiejaoude in https://github.com/EddieHubCommunity/awesome-github-profiles/issues/712#issuecomment-947703086_

[2021-10-27 17:16] Cahllagerfeld opened #217 "[OTHER] Migrate Datastax to MongoDB"
### What would you like to share?

The Modules in the api need to be migrated to MongoDB

- [x] #218
- [x] #219
- [x] #220
- [x] #221
- [x] #235
- [x] #225

[2021-10-27 17:17] Cahllagerfeld opened #218 "Migrate Discord-Module to MongoDB"

[2021-10-27 17:17] Cahllagerfeld opened #219 "Migrate Calendar-Module to MongoDB"

[2021-10-27 17:17] Cahllagerfeld opened #220 "Migrate Github-Module to MongoDB"

[2021-10-27 17:17] Cahllagerfeld opened #221 "Migrate Standup-Module to MongoDB"

[2021-10-27 17:46] #198 closed, assigned to nobody

[2021-10-28 07:10] Cahllagerfeld opened #222 "[FEATURE] Deploy Mongo"
### ⭐ Suggestion

When Migrating to Mongo, we need to host and persist the DB in the K8s Cluster or host it at Atlas.

Maybe we can discuss first on whats the better option.

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-10-28 07:30] eddiejaoude opened #223 "[FEATURE] Mongo hosting"
### ⭐ Suggestion

Options for mongo hosting

- [ ] Mongo Atlas
- [ ] Our own Kubernetes cluster on Digital Ocean
    - Digital Ocean connected persistent storage
    - Mongo Kuberneters operator
    -

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-10-30 16:09] syedareehaquasar commented on #181
@Cahllagerfeld I would like to work on this issue can u please help me with a reference like I couldn't find ASCII-doc in docs (not sure it's not public that is why I am not able to view it)

[2021-10-30 16:10] syedareehaquasar commented on #220
I would like to work on this issue @Cahllagerfeld (have prior experience with shifting MySQL implementation to mongo but would need further guidance)

[2021-11-02 18:13] Cahllagerfeld opened #225 "Remove Astra"

[2021-11-03 18:31] kumarankm opened #227 "Move event to its own DTO"
### What would you like to share?

Green square!

### Additional information

_No response_

[2021-11-03 18:42] Panquesito7 opened #228 "[OTHER] Create DTO for DiscordEvents"
### What would you like to share?

Title says it all. 🙂

### Additional information

Nope.

[2021-11-03 18:49] Cahllagerfeld opened #229 "[FEATURE] initialize mongoose"
### ⭐ Suggestion

Before implementing the modules we should initialize the mongoose logic first.

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-11-13 02:09] #158 closed

[2021-11-13 02:09] #106 closed

[2021-11-13 11:58] BOLT04 commented on #113
@Cahllagerfeld and @eddiejaoude, any thoughts on this 🙂?

[2021-11-13 12:25] Cahllagerfeld commented on #113
I'd definitely postpone this until the rewrite is finished 🤔

[2021-11-15 17:10] Cahllagerfeld opened #234 "[OTHER] Pull out `Socials`-Entity from `Discord`?"
### What would you like to share?

Pull out `Socials`-Entity from `Discord`?

### Additional information
[Additional Discussion](https://github.com/EddieHubCommunity/api/discussions/224#discussioncomment-1584220)

[2021-11-20 15:07] Cahllagerfeld opened #235 "Create LinkFree Module"
for more context see #238 and #224

[2021-11-20 15:10] krishguptadev commented on #235
What is the LinkFree module supposed to do? 🤔

Manage profiles? Addition and stuff

[2021-11-20 15:12] Cahllagerfeld commented on #235
See discussion here https://github.com/EddieHubCommunity/api/discussions/224#discussioncomment-1674416

[2021-11-20 15:16] Cahllagerfeld commented on #235
Things to specify:

- [ ] name of the module
- [ ] which profiles will be allowed, im not a fan of having it as a generic object where someone can more or less add everything without our control
- [ ] use discord userid as id in the db, or will there be a other way for creating profiles?

[2021-11-20 15:34] krishguptadev commented on #235
I think github usernames would be a better way to manage User IDs since I all of the users are using github ids and not discord (would be taunting to migrate)

[2021-11-27 07:08] krishguptadev opened #241 "[FEATURE] Fix the COC!"
### ⭐ Suggestion

1. Update the version to: https://www.contributor-covenant.org/version/2/1/code_of_conduct/
2. Contact method:
![image](https://user-images.githubusercontent.com/91655303/143671799-167734e7-73c0-45ff-882f-bbef8a3ec148.png)

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-11-27 07:37] Saurabhpatil-dev commented on #241
Hey @krishguptadev ,

I would like to work on this. Can you please tell me where to make this changes?

[2021-11-27 07:39] krishguptadev commented on #241
Can't assign (perm issues), but feel free to work on this!

[2021-11-27 07:43] Saurabhpatil-dev commented on #241
Okay

[2021-11-28 00:49] eddiejaoude commented on #195
@Cahllagerfeld is this still needed?

[2021-11-28 08:31] Cahllagerfeld commented on #195
It's from the older version, so it's closable

[2021-11-28 10:11] #195 closed

[2021-12-07 02:20] #176 closed

[2021-12-07 02:20] #72 closed

[2021-12-08 06:43] Cahllagerfeld commented on #183
closed do to mongo-migration. Tokens aren't needed anymore

[2021-12-08 06:43] #183 closed

[2021-12-08 06:44] Cahllagerfeld commented on #117
Stargate related tickets aren't relevant anymore, so closed

[2021-12-08 06:44] #117 closed

[2021-12-08 06:45] Cahllagerfeld commented on #157
I think thats not relevant anymore either, because we dont want to run a multi-tenant approach anymore

[2021-12-11 02:06] eddiejaoude commented on #117
Thanks Cahl 👍

[2021-12-12 00:54] eddiejaoude commented on #188
The API authentication is in the process of being simplified

[2021-12-12 16:15] BOLT04 commented on #212
this is still needed or not @Cahllagerfeld ?

[2021-12-16 02:13] #157 closed

[2021-12-16 02:13] #120 closed

[2021-12-19 02:22] #128 closed

[2021-12-19 02:22] #182 closed

[2021-12-20 02:20] #212 closed

[2021-12-23 02:19] #191 closed

[2021-12-29 02:19] #194 closed

[2021-12-31 10:29] Cahllagerfeld commented on #235
Closing this for now. There shouldn't be a linkfree-Entity.
The Entity needs to be split in `users`, `milestone` and `social`

[2021-12-31 10:29] #235 closed

[2021-12-31 10:32] Cahllagerfeld opened #243 "[FEATURE] Create User-Entity"
### ⭐ Suggestion

Create a new entity with the following properties

- Key: Discord-Username
- githubUsername
- bio
- type
- location

Location should be tracked with the `githubUsername` via the Github-API

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-12-31 16:40] Cahllagerfeld commented on #241
Closed with #242

[2021-12-31 16:40] #241 closed

[2022-01-02 16:18] Cahllagerfeld commented on #218
This is migrated to another module and therefor not needed anymore

[2022-01-02 16:18] #218 closed

[2022-01-06 02:27] #220 closed

[2022-01-06 02:27] #181 closed

[2022-01-09 02:24] #225 closed

[2022-01-09 02:24] #221 closed

[2022-01-10 02:22] #227 closed

[2022-01-10 02:49] Panquesito7 commented on #228
Ping?

[2022-01-10 02:51] nhcarrigan commented on #228
What's a DTO?

[2022-01-10 02:53] Panquesito7 commented on #228
This is what Eddie said.

[2022-01-18 02:24] #228 closed

[2022-01-18 02:50] Panquesito7 commented on #228
Can someone remove the `no-issue-activity` label, please? Thanks. 😅

[2022-01-20 02:25] #113 closed

[2022-01-28 02:10] #234 closed

[2022-02-02 08:51] aroramrinaal commented on #215
@Cahllagerfeld , Can I work on this one?

[2022-02-02 08:56] Cahllagerfeld commented on #215
Sure 👍

[2022-02-02 09:11] aroramrinaal commented on #215
@Cahllagerfeld , I just opened a pull request for this #247

[2022-02-28 16:44] KendallDoesCoding opened #248 "[OTHER] SECURITY POLICY"
### What would you like to share?

Add a security policy to report security vulnerabilities. This can be added by creating SECURITY.MD preferably in the .github directory.

Inculde url http://eddiejaoude.io/contact to report security issues

### Additional information

_No response_

[2022-03-01 10:36] Ash-KODES commented on #248
Why is build failing?

[2022-03-01 11:37] KendallDoesCoding commented on #248
Please read comments in PR's

[2022-03-05 14:20] OkeyChukwude opened #251 "[OTHER] Update COC email to link"
### What would you like to share?

Change Code of Conduct's email address to link.

The new link is: http://eddiejaoude.io/contact

### Additional information

_No response_

[2022-03-07 02:27] #223 closed, assigned to nobody

[2022-03-07 02:27] #219 closed

[2022-03-07 02:27] #222 closed

[2022-03-07 02:27] #213 closed

[2022-03-12 02:18] #243 closed

[2022-03-20 20:17] Cahllagerfeld opened #254 "[DOCS] - Adjust Docs for Mongo"
### What would you like to share?

Docs are currently referencing Datastax. They should use Mongo in the future

### Additional information

_No response_

[2022-03-22 17:49] Cahllagerfeld opened #255 "Prepare API for usage with Appsmith or Elastic"
### What would you like to share?

We need to provide a way for these technologies to be able to query our api

### Additional information

_No response_

[2022-03-26 19:17] Cahllagerfeld opened #257 "Make Controller driving ressource"
### What would you like to share?

Currently Services call each other, it should be tested if the controller should control this instead of the service classes tiself

### Additional information

_No response_

[2022-04-06 19:45] eddiejaoude commented on #229
Closing #230

[2022-04-06 19:45] #229 closed

[2022-04-06 20:05] SuperAayush opened #260 "[BUG] <Delete the Github Actions docs>"
### 🙁 Actual behavior

No longer required.

### 🙂 Expected behaviour

No longer required.

### 🔢 Steps to Reproduce the Problem

_No response_

[2022-04-06 20:19] nhcarrigan opened #261 "[OTHER] - PR reviews not required"
### What would you like to share?

This repository doesn't seem to require PRs to be approved before merging.

### Additional information

<img width="733" alt="image" src="https://user-images.githubusercontent.com/63889819/162063749-1efef3b6-50ea-4566-99b1-f05e721399de.png">

[2022-04-06 20:42] SuperAayush commented on #260
Issue Fixed.

[2022-04-06 20:42] #260 closed

[2022-04-06 20:43] SuperAayush opened #263 "[BUG] <Delete docs Directory>"
### 🙁 Actual behavior

No longer required.

### 🙂 Expected behaviour

No longer required.

### 🔢 Steps to Reproduce the Problem

_No response_

[2022-04-06 20:50] #263 closed

[2022-04-16 17:17] mocdaniel opened #266 "[BUG] Link to API documentation returns Error 404"
### 🙁 Actual behavior

The link to the API documentation mentioned under `Description` on this repository's `README.md` redirects to GitHub Pages' `Error 404` page.

### 🙂 Expected behaviour

The link should either redirect to a reachable website or it should be mentioned that the documentation might be unavailable or a work in progress as of now.

### 🔢 Steps to Reproduce the Problem

1. Open thi

[2022-05-09 03:10] #248 closed

[2022-05-13 03:32] #251 closed

[2022-05-31 07:56] pandyaved98 commented on #266
/assign

[2022-05-31 08:08] pandyaved98 opened #271 "[BUG] Link to api.eddiehub.io returns Error 503"
### 🙁 Actual behavior

The link to the api.eddiehub.io mentioned under the About Section on this repository's README.md redirects to GitHub Pages' Error 503 (Service Unavailable) page.

### 🙂 Expected behaviour

The link should either redirect to a reachable interface or it should be mentioned that the interface might be unavailable or a work in progress as of now.

### 🔢 Steps to Reproduce the Pr

[2022-05-31 16:14] Cahllagerfeld commented on #271
The API is reachable again with [https://api.eddiehub.io](https://api.eddiehub.io/). The 503 was a temporary issue during the deployment 👍

[2022-05-31 16:14] #271 closed

[2022-06-01 15:34] Cahllagerfeld opened #273 "[FEATURE] Emit Event via Websockets whenever a new Github Event is created"
# ⭐ Suggestion

For the interactive Map project, the API needs to be able to establish WebSocket connections

# Concept

## Requirements
- API needs to be able to act as a WebSocket server
- Whenever a new Event from Github is tracked, we need to emit the event + the profile data via WebSockets to the connected clients
- following events need to be tracked
    - `join` when a new client connects

[2022-06-02 09:15] stemount commented on #273
Is this solution only really required by `*.eddiehub.tld` for websockets? I think if it's only really useful for internal stuff then we should have a CORS/security policy for said domain.

As websockets are so lightweight by design (over a REST API), I would say opening it up to the world would be absolutely fine.

This looks very promising. https://github.com/nestjs/swagger/issues/191#issuecommen

[2022-06-02 09:17] stemount commented on #217
Did we not collectively say that we do not want to use MongoDB? Or am I totally remembering this incorrectly.

MongoDB is fine if you use it with an ORM, but ultimately a Docker box with a mongodb or any DB service would be required.

[2022-06-02 09:25] Cahllagerfeld commented on #217
To increase engagement we decided to rewrite the API and use Mongo. I think this issue can even be closed, as the new api with mongo is already live

[2022-06-02 09:25] #217 closed

[2022-06-03 06:52] ezinneanne opened #279 "[DOCS] - Add community.yml"
### What would you like to share?

### Adding community.yml
**Adding community.yml for the Github Action that sends the stats to the Eddiehub API**

### Additional information

_No response_

[2022-06-04 06:59] eddiejaoude commented on #279
Thank you for raising the issue 👍

We have decided to do this a different way with web hooks, I will close this issue for now, but don't worry you still get the green square 🤓

[2022-06-04 06:59] #279 closed

[2022-06-04 07:00] eddiejaoude opened #280 "[FEATURE] GitHub events to come in via web hook"
### ⭐ Suggestion

The GitHub Action to send events to our EddieHub API is not working well with forks.

I just remembered that this might be done better with GitHub webhooks
https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2022-06-04 07:01] eddiejaoude commented on #280
Sorry @Cahllagerfeld what do you think?

[2022-06-04 07:15] Cahllagerfeld commented on #280
I never used Webhooks iwth Github, I need to dig into it a bit

[2022-06-04 07:17] eddiejaoude commented on #280
I used it a long time ago, I am happy to pair on it if it helps.

I think the API endpoint will need to be tweaked a bit to accept the data in a slightly different format (IIRC it will just be the top level object fields but everything underneath will be the same)

[2022-06-04 07:18] Cahllagerfeld commented on #280
Do we need to handle authentication for the webhook, or doesn't this matter? My concern is that people can just use the webhook by sending requests there and data gets created

[2022-06-04 07:20] eddiejaoude commented on #280
The web hook on GitHub will be given a token from us to use to send with the data (similar to GitHub secrets), so it will be a protected request
https://docs.github.com/en/developers/webhooks-and-events/webhooks/securing-your-webhooks

[2022-06-04 16:24] Cahllagerfeld commented on #280
# My Ideas

- Create an dedicated endpoint for webhook communication - I'd leave the existing one, in case we want to use it as a regular endpoint in the future for another scenario
- Create a new Guard that secures the Endpoint based on the link you shared earlier and [this gist](https://gist.github.com/stigok/57d075c1cf2a609cb758898c0b202428?permalink_comment_id=4052765#gistcomment-4052765)
- cr

[2022-06-05 07:43] eddiejaoude commented on #280
Sounds like great ideas 👍

[2022-06-09 11:42] #280 closed

[2022-06-09 11:51] eddiejaoude commented on #215
Thanks 👍

[2022-06-09 12:23] #273 closed

[2022-06-09 14:23] eddiejaoude commented on #280
testing web hook

[2022-06-09 14:34] eddiejaoude commented on #280
testing again

[2022-06-10 18:56] Cahllagerfeld opened #283 "[BUG] Update Location not working properly"
### 🙁 Actual behavior

When running the patch endpoint, the location isn't updated properly

### 🙂 Expected behaviour

Location should be updated properly.

### 🔢 Steps to Reproduce the Problem

_No response_

[2022-06-13 05:15] tbhaxor opened #286 "[OTHER] Fix vulnerable packages and remove tslint"
### What would you like to share?

The `tslint` package is deprecated and eslint with typescript plugin is now used. Also nestjs cli scaffold has implemented this. Therefore remove this unwanted package.

Also `npm audit` command gives some vulnerable packages that can be fixed with `npm audit fix --force` command.

### Additional information

_No response_

[2022-06-13 10:30] Kanika637 commented on #266
I would like to work on this issue @mocdaniel

[2022-06-16 13:02] #283 closed

[2022-07-01 12:24] Cahllagerfeld opened #288 "Introduce Pagination"
### 🙁 Actual behavior

Our Response take quite long, due to the huge payloads, when displaying all records

### 🙂 Expected behaviour

We should add pagination to make the transferred payload more lightweight

### 🔢 Steps to Reproduce the Problem

_No response_

[2022-07-02 20:50] schmelto opened #290 "[BUG] Update Link in README"
### 🙁 Actual behavior

https://eddiehubcommunity.github.io/api/ -> 404

### 🙂 Expected behaviour

https://api.eddiehub.io/

### 🔢 Steps to Reproduce the Problem

_No response_

[2022-07-03 13:16] tbhaxor commented on #286
Closing this because of no bandwidth to solve

[2022-07-03 13:16] #286 closed

[2022-07-04 04:34] dev-divyansh commented on #290
hii , i want to work on this ;;

[2022-07-04 14:44] DeTexTeR-develop opened #291 "[OTHER] Link to the documentation is not working https://eddiehubcommunity.github.io/api/"
### What would you like to share?

Link to the documentation for api is not working https://eddiehubcommunity.github.io/api/ . Getting 404 error, documentation not found.

### Additional information

_No response_

[2022-07-04 22:55] jameslieu opened #292 "[OTHER] redundant return await affects performance"
### What would you like to share?

I've seen a few times `return await` is used outside try/catch blocks. This introduces a unnecessary microtask which impacts performance a little.

This link explains this in some more detail
https://eslint.org/docs/latest/rules/no-return-await

If you don't mind, I'd like to contribute and open a PR to remove `return await` from areas where they're used outside

[2022-07-09 08:45] Cahllagerfeld commented on #291
I think the Documentation got removed while rewriting, lets remove it I guess. Wdyt @eddiejaoude?

[2022-07-09 08:47] eddiejaoude commented on #291
Thanks @DeTexTeR-develop for letting us know 👍

Where is the link used?

@Cahllagerfeld I think you are right, best to remove it 👍

[2022-07-09 08:51] DeTexTeR-develop commented on #291
@eddiejaoude it's in the readme, description section.

[2022-07-09 08:52] DeTexTeR-develop commented on #291
@eddiejaoude if you want i can remove it

[2022-07-09 09:06] eddiejaoude commented on #291
yes please 👍

[2022-07-10 13:56] Cahllagerfeld opened #295 "[FEATURE] Extend websocket object"
### ⭐ Suggestion

We need to transfer additional data to the websocket clients:
- x.repository.full_name
- x.repository.html_url
- x.sender.url

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2022-07-10 14:17] #295 closed

[2022-07-12 05:19] ksaurabh4 commented on #290
Seems it not fixed yet. So, I want to fix this @eddiejaoude if you allow.

[2022-07-13 17:13] DeTexTeR-develop commented on #291
@eddiejaoude @Cahllagerfeld can you check the pr and merge it. I solved this issue few days ago

[2022-07-20 07:45] #291 closed

[2022-07-21 08:55] schmelto commented on #290
https://github.com/EddieHubCommunity/api/pull/294

[2022-07-21 08:55] #290 closed

[2022-07-22 14:50] #288 closed

[2022-07-24 12:37] jameslieu commented on #292
I've opened a PR for this but it was subsequently closed. I'll also close this issue as well

[2022-07-24 12:37] #292 closed

[2022-07-24 12:38] eddiejaoude commented on #292
Thank you James!

We will geek out on some other issues/PR soon!

[2022-08-26 14:05] Cahllagerfeld opened #301 "[BUG] Enable Cors"
### 🙁 Actual behavior

Websites aren't able to fetch data from the API due to Cors issues. We should wildcard cors to make that possible

### 🙂 Expected behaviour

NA

### 🔢 Steps to Reproduce the Problem

_No response_

[2022-08-26 18:15] eddiejaoude commented on #301
Thanks Cahl 👍

[2022-09-16 14:27] ShaikMoAbdullah opened #302 "GitHub Actions Enhancements"
### What would you like to share?

To add kubescape actions file to the project

### Additional information

_No response_

[2022-09-30 07:55] mkubdev commented on #266
Hi :wave: This issue seems fixed by #294

[2022-09-30 16:50] Pradumnasaraf opened #305 "[OTHER] Improve the `.dockerignore` file to reduce the build image size"
### What would you like to share?

Improve the list of ignored files to speed up the build and reduce the size

### Additional information

_No response_

[2022-10-06 07:40] OkeyChukwude commented on #266
Hi, I think this issue should be closed since it has been fixed.

[2022-10-18 17:13] #305 closed

[2022-10-19 08:16] mkubdev commented on #301
Any update to this issue?
I was not able to reproduce a CORS error between two origin : https://sandkub-coral.vercel.app/eddie-api